.security_setting {
  .col-xl-7 {
    position: relative;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
    padding: 15px;
  }
  .form-group {
    .form-control {
      &:focus {
        border-color: #f28e1d;
        box-shadow: none;
        outline: none;
      }
    }
    .btn-primary {
      width: 200px;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  .col-xl-5 {
    border: 1px solid #4285f4;
    .verify_img {
      background: #4285f4;
    }
    .btn-warning {
      width: 200px;
      margin-bottom: 15px !important;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
