
  
  .container {
    max-width: 1340px !important;
  }
  
  // login open
  .bluetext {
    color: #2e90ee;
  }
  .social__position {
    top: 10px !important;
  }
  .login__bg {
    padding: 50px 0;
    .verify__otp {
      width: 100%;
      input {
        width: 16.6666% !important;
        margin: 0 !important;
        padding: 9px 5px !important;
        height: 50px !important;
        border: 1px solid #ccc !important;
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
    }
    .form__inp {
      position: relative;
      z-index: 99;
      padding-left: 40px !important;
      display: block;
      width: 100%;
      height: auto;
      border: 1px solid #ddd;
      box-shadow: none;
      padding: 9px 12px 10px;
      font-size: 14px;
    }
    .all__errors {
      text-align: left;
      color: red;
    }
    .i__dark {
      color: #777777 !important;
      font-size: 18px;
    }
    .i__white {
      color: #fff !important;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .login-wrapper {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      .login-logo {
        display: block;
        width: 100%;
        height: auto;
        max-width: 115px;
        margin: 0 auto 30px;
      }
      .login-box {
        display: block;
        background: #fff;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.10);
        padding: 20px;
        border-radius: 5px;
        .full__input {
          width: 100% !important;
          margin: 0 !important;
          padding: 9px 5px !important;
          height: 40px !important;
          border: 1px solid #ccc !important;
          padding-left: 40px !important;
        }
        h4 {
          margin: 0 0 30px;
          text-align: center;
          font-weight: 500;
          font-size: 18px;
          color: #333;
        }
        .or-seperator {
          display: block;
          width: 100%;
          margin: 30px 0 7px;
          text-align: center;
          border-top: 1px solid #ddd;
          span {
            padding: 0 10px;
            background: #f7f7f7;
            position: relative;
            top: -14px;
            z-index: 1;
          }
        }
        .terms__text {
          color: #6c757d;
          font-size: 12px;
          text-align: left;
          a {
            text-decoration: none;
            font-size: 12px;
          }
        }
        .verify-code {
          margin-bottom: 30px;
          .form-control {
            float: left;
            width: 16.666%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            padding: 9px 12px 10px;
            font-size: 20px;
            height: 50px;
          }
        }
        .verification__para {
          color: #777;
          text-align: center;
          font-size: 14px;
        }
        .user-type {
          ul {
            padding: 0;
            float: none;
            text-align: center;
            width: 100%;
            margin: 0 auto 20px;
            display: flex;
            li {
              width: 31%;
              margin: 0 1%;
              list-style: none;
              background: #f0f0f0;
              border: 1px solid #ccc;
              border-radius: 5px;
              text-align: center;
              position: relative;
              float: left;
              a {
                padding: 12px 0;
                display: block;
                color: #777;
                i {
                  font-size: 32px;
                  line-height: 1;
                }
                p {
                  font-size: 12px;
                  margin: 5px 0 0;
                }
              }
            }
            li.active {
              background: #f28e1d;
              border-color: #f28e1d;
              position: relative;
              &::after {
                position: absolute;
                content: '';
                left: 50%;
                margin-left: -9px;
                border-top: 7px solid #f28e1d;
                width: 0;
                height: 0;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
              }
              a {
                p {
                  color: #fff;
                }
              }
            }
          }
        }
      }
      .form-group {
        position: relative;
  
        label {
          display: block;
          margin-bottom: 5px;
          color: #333;
          font-weight: 500;
          font-size: 14px;
        }
        a {
          text-decoration: none;
          font-size: 14px;
        }
          i {
            position: absolute;
            top: 12px;
            left: 12px;
            z-index: 100;
            color: #fff;
            font-size: 18px;
            margin-left: 4px;
          }
        .form-control {
          position: relative;
          z-index: 99;
          padding-left: 36px;
          display: block;
          width: 100%;
          height: auto;
          border-color: #ddd;
          box-shadow: none;
          padding: 9px 12px 10px;
          font-size: 14px;
        }
        .validation-message {
          color: #555;
          font-size: 12px;
          padding-top: 5px;
          text-align: left;
        }
        .btn-facebook {
          background: #3b5999 !important;
          border-color: #3b5999!important;
          display: block;
        }
        .btn-linkedin {
          background: #1a82b9!important;
          border-color: #1a82b9!important;
          display: block;
        }
      }
    }
  }
  // login close
  
  
  // footer open
  .footer {
    background: #333;
    color: #8a8989;
    font-size: 15px;
    padding: 10px 0 0 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    h4 {
      margin: 20px 0;
      color: #fff;
      font-weight: 400;
    }
    .footer-list {
      padding: 0;
      margin: 0;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      a {
        display: block;
        padding: 6px 0;
        cursor: pointer;
        color: #8a8989;
        text-decoration: none;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        &:hover {
          color: #35c0ff;
          text-decoration: none;
        }
      }
    }
    .newsletter__inp--wrapper {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
        .newsletter__input {
          width: calc(100% - 50px);
          background: #535353;
          border: 1px solid #727171;
          padding: 5px 10px;
          height: 100%;
          border-radius: 4px 0 0 4px;
        }
        .newsletter__btn {
          width: 50px;
          background: #f28e1d;
          border: 1px solid #f28e1d;
          color: #fff;
          padding: 5px 7px;
          height: 100%;
          border-radius: 0 4px 4px 0;
        }
    }
    .footer__para {
      color: #8a8989;
    }
    .footer__para--address {
      color: #8a8989;
      margin: 5px 0;
      padding-right: 10%;
    }
    .footer__social {
      a {
        display: inline-block;
        margin-right: 7px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        text-align: center;
        line-height: 44px;
        color: #fff;
      }
      .facebook {
        background: #314d97;
      }
      .twitter {
        background: #20a2f7;
      }
      .linkedin {
        background: #2774b7;
      }
    }
    .footer__logo {
      width: 130px;
      margin: 15px 0 10px;
    }
    .footer__copyrights {
      background: #151515;
      color: #828282;
      border-radius: 0 0 5px 5px;
      margin-top: 30px;
      padding: 15px 0;
      .footer__btm--links {
        text-align: right;
        a {
          display: inline-block;
          padding: 20px 0 20px 15px;
          color: #1d81f2;
        }
      }
      .vert__middle {
        align-items: center;
      }
      p {
        margin: 0;
      }
    }
  }
  // footer close
  