.notActiveShowCompany {
    background: #eee!important;
    color: #777!important;
    border-color: #5ea637!important;
}
.row__marg--top {
    margin-top: 50px;
}
.activeShowCompany {
    color: #fff;
    background-color: #5ea637;
    border-color: #5ea637;
}
.verify__marg {
    margin-top: 30px;
}
.no_activeShowCompany{
    color: #fff !important;
    background-color: #999 !important;
    border-color: #5ea637 !important;
}
.no_notActiveShowCompany{
    background: #eee!important;
    color: #777!important;
    border-color: #5ea637!important;
}
.posi__rel {
    position: relative;
    .dropzone {
        width: 200px;
        height: 200px;
        z-index: 1;
        input {
            display: block !important;
            height: 200px;
            width: 200px;
            z-index: 1 !important;
            position: relative;
            opacity: 0;
        }
    }
    aside {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 0;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        div {
            height: 230px !important;
            width: 230px !important;
            border-radius: 50% !important;
            img {
                height: 230px !important;
                width: 230px !important;
                object-fit: contain;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
.profile__img--box {
    position: absolute;
    top: 0;
    left: 50% !important;
    width: 200px !important;
    height: 200px !important;
    object-fit: contain;
    transform: translateX(-50%);
}