.card_wrap{
	input{
		&:focus {
		    border-color: #f28e1d;
		    box-shadow: none;
		    outline: none;
		}
	}
	a{
		&:hover{
		text-decoration: none;
		}
	}
	label{
		font-weight: 500;
	}
	#field-wrapper {
		height: 44px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: none;
    padding: 9px 12px 10px;
    border-radius: 4px;
	}
	.text-toc {
		color: #777;
	}
	.card__select {
		height: 44px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: none;
    padding: 9px 12px 10px;
		border-radius: 4px;
		font-size: 14px;
	}
	.card__label {
		display: block;
	}
	.card__label + div {
		width: 100%;
	}
	.header{
		h3{
			font-size: 20px;
		}
	}
	.card_main{
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 20px 0px 0 0;
		.d-flex{
			position: absolute;
			right: 0;
			top: 0;
			a{
				border-radius: 50%;
				margin: 5px;
			}
		}
		.form-row{
			margin: 0 10px;
		}
		label{
			font-weight: 500;
		}
	}
	.btns{
		a{
			padding: 9px 15px 10px;
		}
		button{
			padding: 9px 15px 10px;
		}
	}
}


.full__width__card_input{
	width: 100vw !important;
	height: 42px;
  margin-top: 4px;
}


.btn-warning {
	color: #fff !important;
	font-size: 14px !important;
}
.label__title {
	font-size: 18px;
	font-weight: 500;
}
.card__bg {
	background: #eee;
	border-radius: 5px;
	display: block;
	max-width: 500px;
	margin-bottom: 10px;
	position: relative;
	padding-top: 20px;
	border: 1px solid #ddd;
	.card__edit--btn {
		color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
		padding: 0;
		margin-top: 10px;
		cursor: pointer;
	}
	.card__save--btn {
		color: #fff !important;
    background-color: #28a745;
    border-color: #28a745;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
		padding: 0;
		margin: 10px 10px 0 7px;
		cursor: pointer;
	}
}
.font-weight-400 {
	font-weight: 400;
}