.ant-btn {
  padding: 0 0px 0 33px !important;
  background: none;
  color: #000;
  &:focus,
  &:hover,
  &:active {
    background: none !important;
    color: #000 !important;
    box-shadow: none !important;
  }
}
.ant-layout-content {
  overflow: hidden !important;
}

// sidebar css open
.menu__sidebar--renter {
  &:before {
    content: "";
    border-bottom: 16px solid #822ad0 !important;
  }
  ul {
    background-image: linear-gradient(to bottom right, #822ad0, #4784f3) !important;
    li {
      border-color: rgba(255, 255, 255, 0.1) !important;
      &:hover {
        background-image: linear-gradient(to bottom right,#4784f3,#822ad0) !important;
      }
    }
  }
  .fixed__btm--settings {
    background: none !important;
  }
  .fixed__btm--support {
    background: none !important;
  }
  .fixed__btm--progressbar {
    background: none !important;
  }
}


.menu__sidebar--servicepro {
  &:before {
    content: "";
    border-bottom: 16px solid #2189ff !important;
  }
  ul {
    background-image: linear-gradient(to bottom right,#2189ff,#030aa9) !important;
    li {
      border-color: rgba(255, 255, 255, 0.1) !important;
      &:hover {
        background-image: linear-gradient(to bottom right,#030aa9,#2189ff) !important;
      }
    }
  }
  .fixed__btm--settings {
    background: none !important;
  }
  .fixed__btm--support {
    background: none !important;
  }
  .fixed__btm--progressbar {
    background: none !important;
  }
}

.menu__sidebar {
  background: none !important;
  height: calc(100vh - 75px);
  position: fixed !important;
  bottom: 15px;
  top: 60px;
  &:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 38px;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #2189ff;
  }
  
  .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 24px !important;
  }
 
  .ant-menu-inline-collapsed > .ant-menu-submenu {
    padding: 0 4px;
  }
  .ant-menu-inline-collapsed > .ant-menu-item {
    padding: 0 28px !important;
    margin-left: 0;
  }

 ::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    border-radius: 0;
}
 ::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    border-radius: 0;
     background: #17569d;
}
 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #B5C9D4;
}
 ::-webkit-scrollbar-thumb:window-inactive {
    background: #17569d;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #217be0;
}
  .ant-menu-submenu > .ant-menu {
    background-color: #217be0;
  }
  .ant-menu-submenu-title {
    width: calc(100% - 1px);
    height: 46px !important;
    line-height: 46px !important;
    &:hover {
      color: #ddd;
    }
  }
  .ant-menu-item > a {
    display: block;
    color: #ddd;
    font-weight: normal;
    &:hover {
      color: #ddd !important;
      text-decoration: none;
    }
}
  .fixed__btm--settings {
    position: absolute !important;
    bottom: 86px;
    left: 15px !important;
    right: 2px !important;
    width: calc(100% - 2px) !important;
    background-color: #2189ff;
    z-index: 1;
    border-top: 1px solid #4b9fff;
  }
  .fixed__btm--support {
    position: absolute !important;
    bottom: 40px;
    left: 15px !important;
    right: 2px !important;
    width: calc(100% - 2px) !important;
    background-color: #2189ff;
    z-index: 1;
  }
  .fixed__btm--progressbar {
    position: absolute !important;
    bottom: 0;
    width: 98%;
    padding: 15px 1% 0px 2%;
    color: #ddd;
    background-color: #2189ff;
  }
  .used_space {
    span {
      font-size: 10px;
      line-height: 12px;
      font-weight: 600;
      margin-bottom: 5px;
      display: block;
    }
  }
  ul {
    // background-image: linear-gradient(to bottom right, #822ad0, #4784f3);
    background: #2189ff;
    height: calc(100vh - 84px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 15px;
    border-radius: 5px;
    li {
      // border-bottom: 1px solid rgba(255, 255, 255, 0.07);
      border-bottom: 1px solid #4b9fff;
      color: #ddd;
      margin: 0 0 !important;
      font-weight: 600;
      min-height: 46px !important;
      line-height: 46px !important;
      font-weight: normal;
      &:hover {
        // background-image: -webkit-gradient(
        //   linear,
        //   left top,
        //   right bottom,
        //   from(#4784f3),
        //   to(#822ad0)
        // );
        // background-image: -webkit-linear-gradient(top left, #4784f3, #822ad0);
        // background-image: linear-gradient(to bottom right, #4784f3, #822ad0);
        background-image: linear-gradient(to bottom right, #217be0, #217be0);
        color: #ddd;
      }
      .ant-menu-submenu-title {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      i {
        text-align: center;
        font-size: 22px;
        // padding-right: 15px;
        // width: 30px;
        // margin-left: 5px;
      }
      .padd__left {
        margin-left: 15px;
      }
      .padd__left--five {
        padding-left: 5px;
      }
      .ant-menu-submenu-arrow {
        &::after,
        &::before {
          content: "";
          background: #fff !important;
        }
      }

      ul {
        overflow: hidden;
        height: auto;
        li {
          padding-left: 65px !important;
          border-top: 1px solid #4b9fff;
          border-bottom: 0px solid #4b9fff;
          &:last-child {
            border-bottom: 0 !important;
          }
        }
      }
    }
  }
  .progress {
    height: 8px;
    border-radius: 10px;
  }
  .progress-bar {
    border-radius: 10px 0 0 10px;
    background-color: #ffc107;
  }
}
.ant-menu-inline-collapsed {
  li {
    i + span {
      display: inline-block;
      max-width: 0;
      opacity: 0;
    }
  }
}
// sidebar css close

// header css open
.search__wrapper {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 27%;
  .form-control {
    border: 0;
    height: 38px;
    width: calc(100% - 42px);
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
  }
  .btn {
    padding: 0 .75rem;
    i {
      font-size: 20px;
    }
  }
}
.search__listing {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      color: #fff;
      background: #999;
      padding: 8px 15px;
      border-radius: 3px;
      text-decoration: none;
      -webkit-transition: all .2s;
      transition: all .2s;
      cursor: pointer;
      &:hover {
        background: #777;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .active__tab {
      background: #169dd7;
    }
  }
  .search__listing--closer {
    position: absolute;
    top: 7px;
    right: -9px;
    color: #c00;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #c00;
    border-radius: 50%;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
  }
}
.main__topbar {
  background: #fff !important;
  box-shadow: 0 0px 9px #ccc;
  z-index: 9;
  height: auto !important;
  padding: 5px 15px !important;
  line-height: normal !important;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  .profile__name {
    font-weight: 600;
  }
  .menuIcon {
    background: none;
    border: 0;
    box-shadow: none;
    color: #000;
  }
  .header__logo {
    height: 44px;
    margin: 0 25px;
  }
  .navbar-nav {
    flex-direction: row;
    li {
      margin: 0 13px;
      display: flex;
      align-items: center;
      .badge-warning {
        color: #fff;
        background-color: #ffc107;
        position: absolute;
        top: -2px;
        right: -15px;
        padding: 3px 5px;
      }
      .headerProfileImg {
        width: 32px;
        margin-left: 7px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
// header css close

// Renter profile css open
.right__container--padding {
  padding: 60px 15px 15px 280px !important;
  transition: all 0.3s ease-in-out;
}
.right__container--part {
  padding: 60px 15px 15px 110px;
  .dashboard__header {
    padding: 0;
    margin: 15px 0 0;
    h2 {
      padding: 0 0 0 12px;
      margin: 0;
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
      color: #000;
      position: relative;
      &::after {
        content: "";
        height: 17px;
        width: 6px;
        background: #2189ff;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
    .breadcrumb {
      background: none;
      justify-content: flex-end;
      font-size: 14px;
      padding: 0;
    }
  }

  .tab__details {
    h3 {
      font-size: 20px;
      font-weight: 400 !important;
      color: #333;
      margin: 25px 0;
      text-align: center;
    }
    .tab__deatils--label {
      margin-bottom: 3px;
      color: #333;
      font-weight: 500;
      font-size: 14px;
    }
    .tab__deatils--input {
      height: auto;
      width: 100%;
      border: 1px solid #ddd;
      box-shadow: none;
      padding: 9px 12px 10px;
      border-radius: 4px;
    }
    .tab__deatils--select {
      height: auto;
      width: 100%;
      border: 1px solid #ddd;
      box-shadow: none;
      padding: 10px 7px 10px 7px;
      border-radius: 4px;
      font-size: 14px;
    }
    .react-datepicker-wrapper {
      width: 100%;
    }
  }

  .btns__orange {
    color: #fff;
    background-color: #f28e1d;
    border-color: #f28e1d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 5px;
    padding: 9px 15px 10px;
    width: 100%;
    font-size: 14px;
  }
  .btns__blue--outline {
    color: #217be0;
    background-color: #fff;
    border-color: #217be0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: all 0.2s;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    padding: 9px 15px 10px;
    width: 100%;
    font-size: 14px;
    &:hover {
      color: #fff;
      background-color: #217be0;
    }
  }
  .btns__blue {
    color: #fff;
    background-color: #217be0;
    border-color: #217be0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 5px;
    padding: 9px 15px 10px;
    width: 100%;
    font-size: 14px;
    &:hover {
      color: #fff;
    }
  }
  .btns__addmore {
    color: #f28e1d!important;
    background-color: #fff!important;
    border-color: #f28e1d!important;
    box-shadow: 0 1px 1px rgba(0,0,0,.075)!important;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 9px 15px 10px;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    &:hover {
      color: #fff!important;
      background-color: #f28e1d!important;
    }
  }

  .dashboard__wrapper {
    background: #ecf0f5;
    min-height: 100vh;
    .profile__menu--listing {
      width: 250px;
      float: left;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          border-bottom: 1px solid #fff;
          a {
            color: #fff;
            border-left: 6px solid transparent;
            background: #b3b2b2;
            display: block;
            padding: 11px 20px 12px;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            &:hover {
              border: 0;
              background: #898989;
              border-left: 6px solid #f28e1d;
            }
          }
          &:first-child {
            a {
              border-radius: 5px 5px 0 0;
            }
          }
          &:last-child {
            a {
              border-radius: 0 0 5px 5px;
            }
          }
        }
        .active {
          a {
            border: 0;
            background: #898989;
            border-left: 6px solid #f28e1d;
          }
        }
      }
    }
    .profile__menu--deatils {
      width: calc(100% - 265px);
      float: left;
      margin-left: 15px;
      .profile__deatils--left {
        width: calc(100% - 315px);
        margin-right: 15px;
        background: #fff;
        padding: 15px;
        border-radius: 5px;
        float: left;
        .nav-tabs {
          border: 0;
          background: #ccc;
          border-radius: 5px;
          .nav-item {
            width: 33.3333%;
            text-align: center;
            margin-bottom: 0;
            cursor: pointer;
            font-weight: 500;
          }
          .active {
            border: 0;
            background: #2189ff;
            color: #fff;
            border-radius: 5px;
            padding: 12px 10px;
            font-size: 16px;
          }
          .nav-link {
            border: 0;
            color: #fff;
            padding: 12px 10px;
          }
        }
      }
      .profile__deatils--right {
        width: 300px;
        background: #fff;
        padding: 15px;
        border-radius: 5px;
        float: left;
        border: 1px solid #2189ff !important;
      }
    }
  }
}
// Renter profile css close

.persona__profile--accordian {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  .card {
    padding: 0;
    margin-bottom: 18px;
    .card-header {
      h5 {
        font-size: 17px;
        font-weight: normal;
        color: #333;
        a {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}

.mb-0 > a {
  display: block;
  position: relative;
}
.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

.container {
  max-width: 1340px !important;
}

// header open
.dropdown-menu {
  top: 24px !important;
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    border-left: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    right: 20px;
    top: -9px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    z-index: 999;
  }
}
.main-header {
  padding: 0px 15px !important;
  min-height: 54px;
  .ham_menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .navbar-brand {
    padding-right: 12px;
    padding-left: 12px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    .nav-item {
      a {
        padding-right: 12px;
        padding-left: 12px;
      }
    }
  }
  .badge-warning {
    color: #fff;
    position: absolute;
    top: -8px;
    right: -5px;
    font-size: 10px;
    line-height: 10px;
    padding: 4px 7px;
  }
  .profile__thumb {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 7px;
  }
  .profile-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    span {
      font-weight: 600;
    }
  }
  .site_search.form-inline input {
    height: 38px;
    width: calc(100% - 42px);
    display: inline-block;
    line-height: 38px;
  }
  .header-search-options {
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
}
// header close

// login open
.login__bg {
  background-color: #ecf0f5;
  padding: 50px 0;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .login-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    .login-logo {
      display: block;
      width: 100%;
      height: auto;
      max-width: 115px;
      margin: 0 auto 30px;
    }
    .login-box {
      display: block;
      background: #fff;
      box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 5px;
      h4 {
        margin: 0 0 30px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        color: #333;
      }
      .or-seperator {
        display: block;
        width: 100%;
        margin: 30px 0 7px;
        text-align: center;
        border-top: 1px solid #ddd;
        span {
          padding: 0 10px;
          background: #f7f7f7;
          position: relative;
          top: -14px;
          z-index: 1;
        }
      }
      .terms__text {
        color: #6c757d;
        font-size: 12px;
        a {
          text-decoration: none;
          font-size: 12px;
        }
      }
      .verify-code {
        margin-bottom: 30px;
        .form-control {
          float: left;
          width: 16.666%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          padding: 9px 12px 10px;
          font-size: 20px;
          height: 50px;
        }
      }
      .verification__para {
        color: #777;
        text-align: center;
        font-size: 14px;
      }
      .user-type {
        ul {
          padding: 0;
          float: none;
          text-align: center;
          width: 100%;
          margin: 0 auto 20px;
          display: flex;
          justify-content: space-between;
          li {
            width: 31%;
            list-style: none;
            background: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
            position: relative;
            float: left;
            font-size: 12px;
            padding: 20px 0;
            cursor: pointer;
            span {
              i {
                font-size: 32px;
              }
              p {
                margin-bottom: 0;
              }
            }
            a {
              padding: 12px 0;
              display: block;
              color: #777;
              i {
                font-size: 32px;
                line-height: 1;
              }
              p {
                font-size: 12px;
                margin: 5px 0 0;
              }
            }
          }
          li.active {
            background: #f28e1d;
            border-color: #f28e1d;
            position: relative;
            &::after {
              position: absolute;
              content: "";
              left: 50%;
              margin-left: -9px;
              border-top: 7px solid #f28e1d;
              width: 0;
              height: 0;
              border-left: 9px solid transparent;
              border-right: 9px solid transparent;
            }
            a {
              p {
                color: #fff;
              }
            }
          }
        }
      }
    }
    .form-group {
      position: relative;

      label {
        display: block;
        margin-bottom: 5px;
        color: #333;
        font-weight: 500;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        font-size: 14px;
      }
      i {
        position: absolute;
        top: 12px;
        left: 12px;
        z-index: 100;
        color: #fff;
        font-size: 18px;
        margin-left: 4px;
      }
      .form-control {
        position: relative;
        z-index: 99;
        padding-left: 36px;
        display: block;
        width: 100%;
        height: auto;
        border-color: #ddd;
        box-shadow: none;
        padding: 9px 12px 10px;
        font-size: 14px;
      }
      .validation-message {
        color: #555;
        font-size: 80%;
        padding-top: 5px;
      }
      .btn-facebook {
        background: #3b5999 !important;
        border-color: #3b5999 !important;
        display: block;
      }
      .btn-linkedin {
        background: #1a82b9 !important;
        border-color: #1a82b9 !important;
        display: block;
      }
    }
  }
}
// login close

// footer open
.footer {
  background: #333;
  color: #8a8989;
  font-size: 15px;
  padding: 10px 0 0 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  h4 {
    margin: 20px 0;
    color: #fff;
    font-weight: 400;
  }
  .footer-list {
    padding: 0;
    margin: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    a {
      display: block;
      padding: 6px 0;
      cursor: pointer;
      color: #8a8989;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      &:hover {
        color: #35c0ff;
        text-decoration: none;
      }
    }
  }
  .newsletter__inp--wrapper {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    .newsletter__input {
      width: calc(100% - 50px);
      background: #535353;
      border: 1px solid #727171;
      padding: 5px 10px;
      height: 100%;
      border-radius: 4px 0 0 4px;
    }
    .newsletter__btn {
      width: 50px;
      background: #f28e1d;
      border: 1px solid #f28e1d;
      color: #fff;
      padding: 5px 7px;
      height: 100%;
      border-radius: 0 4px 4px 0;
    }
  }
  .footer__para {
    color: #8a8989;
  }
  .footer__para--address {
    color: #8a8989;
    margin: 5px 0;
    padding-right: 10%;
  }
  .footer__social {
    a {
      display: inline-block;
      margin-right: 7px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      text-align: center;
      line-height: 44px;
      color: #fff;
    }
    .facebook {
      background: #314d97;
    }
    .twitter {
      background: #20a2f7;
    }
    .linkedin {
      background: #2774b7;
    }
  }
  .footer__logo {
    width: 130px;
    margin: 15px 0 10px;
  }
  .footer__copyrights {
    background: #151515;
    color: #828282;
    border-radius: 0 0 5px 5px;
    margin-top: 30px;
    padding: 15px 0;
    .footer__btm--links {
      text-align: right;
      a {
        display: inline-block;
        padding: 20px 0 20px 15px;
        color: #1d81f2;
      }
    }
    .vert__middle {
      align-items: center;
    }
    p {
      margin: 0;
    }
  }
}
// footer close
