.account_setting {
  .info_wrap {
    .help-text {
      font-weight: 300;
      font-size: 13px;
    }
  }
  .account_set {
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }
}
