@media screen and (min-width: 1300px) {
    section{display: flex; height: 100% !important}
    section.partners{display: block!important; height: auto!important;}
    section.forotheruser{display: block!important; height: auto!important;}
  }
  @media screen and (min-width: 768px) {
    
  }
  
  @media screen and (max-width: 1600px){
  
  }
  @media screen and (max-width: 1499px) {
    
  }
  
  @media screen and (max-width: 1400px){
      
  }
  @media screen and (max-width: 1366px){    
      #testimonial .item .content img{max-width: 100px; margin-bottom: 10px}
      #testimonial .item .content p.author-quote,#testimonial .item .content p.author-type{margin-bottom: 10px;}
  }
  @media screen and (max-width: 1200px){
  
  }
  @media screen and (max-width: 1199px){    
      h1{font-size: 45px;}
      .footer-top,.copyright{margin: 0 auto; text-align: center}
      .footer-top p{max-width: 420px; margin: 5px auto}
      .copyright .text-right{text-align: center !important}    
      .footer-top .input-group{margin: 20px auto 0; max-width: 400px;}
  }
  @media screen and (max-width: 1024px){
      .btn-learn-more{bottom: -50px;}
      .home-user-tablist{bottom: 30px;}
      .rocloud-pd {
        padding: 83px 0 14px;
    }
  }
  
  @media screen and (max-width: 991px){      
      h1{font-size: 40px;}
      .home-user-tablist{position: relative; top: auto; margin: 20px auto; text-align: center; left: auto}
      .home-user-tablist .nav{justify-content: center;}
      section ul{padding-bottom: 30px; margin: 0}
      .btn-learn-more{position: relative; bottom: auto}
      #endtoendpropmanagement {text-align: center}
      #endtoendpropmanagement h2{margin-bottom: 20px;}
      section h1 br{display: none}
  }
  
  @media screen and (max-width: 990px){
      #testimonial{max-width: 450px; margin: 0 auto}
  }
  @media screen and (max-width: 800px){
  .site_search.form-inline,.site_search.form-inline input{width: auto !important}
  }
  
  @media screen and (max-width: 768px){
  }
  
  @media screen and (max-width: 767px){ 
      .hideleftnav .leftnav{opacity: 0;height: 0;z-index: 1;bottom: auto;}
      h1{font-size: 36px;}
      .switch-page  a{display: block; text-align: center; max-width: 450px; margin: 0 auto}
      .switch-page  .col-md-5:first-child a{margin-bottom: 20px;}
      .switch-page .usertype{font-size: 24px;}
      .switch-page  img{display: block; margin-right: 0}
      .switch-page  .col-md-2{display: none;}
      .front-wrapper{width:100%; margin: 0 auto; padding: 0}
      #endtoendpropmanagement{width: 90%; margin: 0 auto}
      .zypas-logo{max-width: 135px}
      section, body, p{font-size: 16px}
      .landing-security ul li{margin: 10px 0}
      .landing .btn:not(.btn-link),
  .landing-landlord .btn:not(.btn-link),
  .landing-servicepro .btn:not(.btn-link),
  .landing-renter .btn:not(.btn-link){padding: 10px 40px; font-size: 15px}
  .switch-page .border_left {border-left: 0; padding-left: 15px; margin-top: 20px;}
  .partners-logo img {
    width: 35%;
    height: auto;
}
      
  }
  
  @media screen and (max-width: 640px){ 
      .site_search.form-inline, .site_search.form-inline input{width: 100px!important}
  }
  
  @media screen and (max-width: 575px){     
  .footer-list{-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
      h1{font-size: 30px;}
      .navbar-brand2 img{height: 38px; margin: -5px 4px 0}
      .srch_drop{position: fixed; left: 15px; top:60px; width: auto}
      .srch_drop:before{left:165px;}
      .header-login span{display: none;}
  }
  
  @media screen and (max-width: 480px){ 
      .home-user-tablist .nav-link.active,.home-user-tablist .nav-link{padding-left: 9px; padding-right: 9px; font-size: 12px; height: auto}
      .home-user-tablist .nav-link.active{margin-bottom: -2px; margin-top: -2px}
  }
  
  @media screen and (max-width: 375px){ 
      .header-search-options li + li{margin: 0}
      .navbar-brand2{margin-right: 0}
      
  }
  @media screen and (max-width: 360px){ 
  }
  
  @media screen and (max-width: 320px){ 
  
  }
  @media(min-width: 1560px) and (max-width: 1600px){
    .logo-menu {
        width: 200px;}
    section {
        padding: 100px 0;
    }
    .ext-pdd{
        padding: 100px 0;
    }
    .extr-pdd {
        padding: 220px 0;
    }
    .ext-pd{
        padding:120px 0;
    }
    .ext-gfh{
        padding:170px 0;
    }
    .key_padd{
        padding: 50px 0;
    }
    .exp-sl{
        padding: 90px 0;
    }
    .exp-sm{
        padding: 70px 0;
    }
    
  }
