/* Style written by Anup Pan */
a:focus {
  outline: none !important;
}
a,
.nav-tabs > li.active > a,
.nav-tabs > li > a {
  outline: none;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Bold.eot");
  src: url("roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("roboto/Roboto-Bold.woff") format("woff"),
    url("roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Medium.eot");
  src: url("roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("roboto/Roboto-Medium.woff") format("woff"),
    url("roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Regular.eot");
  src: url("roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("roboto/Roboto-Regular.woff") format("woff"),
    url("roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Light.eot");
  src: url("roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("roboto/Roboto-Light.woff") format("woff"),
    url("roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html,
body,
.wrapper {
  min-height: 100%;
}
body,
html {
  height: 100%;
}
body {
  background-color: #fff;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.nav-link,
.btn,
.form-control,
.dropdown-item {
  font-size: 15px;
}
/* Roboto light-300, normal-400, medium-500, bold-700*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #333;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: 500;
  color: #777;
}

.text-primary {
  color: #2189ff !important;
}
.text-warning {
  color: #f28e1d !important;
}
.text-success {
  color: #5ea637 !important;
}
.text-info {
  color: #33c3f8 !important;
}
.text-danger {
  color: #ef3d4e !important;
}
.text-grey {
  color: #999 !important;
}
.text-light {
  color: #777 !important;
}
.text-secondary {
  color: #555 !important;
}
.text-dark {
  color: #333 !important;
}
.text-black {
  color: #000 !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #2189ff !important;
  border-color: #2189ff !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #ffffff !important;
  background-color: #217be0 !important;
  border-color: #217be0 !important;
}
.btn-warning {
  color: #ffffff !important;
  background-color: #f28e1d !important;
  border-color: #f28e1d !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  color: #ffffff !important;
  background-color: #de8017 !important;
  border-color: #de8017 !important;
}
.btn-outline-warning {
  color: #f28e1d !important;
  background-color: #fff !important;
  border-color: #f28e1d !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-warningoutline-:active {
  color: #fff !important;
  background-color: #de8017 !important;
  border-color: #de8017 !important;
}
.btn-info {
  color: #ffffff !important;
  background-color: #33c3f8 !important;
  border-color: #33c3f8 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  color: #ffffff !important;
  background-color: #29a8d7 !important;
  border-color: #29a8d7 !important;
}
.btn-success {
  color: #ffffff !important;
  background-color: #5ea637 !important;
  border-color: #5ea637 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  color: #ffffff !important;
  background-color: #4c9127 !important;
  border-color: #4c9127 !important;
}
.btn-danger {
  color: #ffffff !important;
  background-color: #ef3d4e !important;
  border-color: #ef3d4e !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  color: #ffffff !important;
  background-color: #c9192a !important;
  border-color: #c9192a !important;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #5ea637;
  border-color: #5ea637;
}
.btn-success.notActive {
  background: #eee !important;
  color: #999 !important;
}
.btn-grey {
  color: #ffffff !important;
  background-color: #c0bbbc !important;
  border-color: #c0bbbc !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active {
  color: #ffffff !important;
  background-color: #a4a3a3 !important;
  border-color: #a4a3a3 !important;
}

.col-fixed-250-md {
  flex: 0 0 250px;
  padding: 0 5px;
  width: 250px;
}
.col-fixed-300-lg {
  flex: 0 0 315px;
  padding: 0 5px;
  width: 315px;
}

.main-header2 {
  padding: 20px 15px;
  min-height: 54px;
  transition: all 0.4s;
}
.navbar-brand2 {
  padding: 0;
  margin: 0 16px 0 0;
}

.navbar-brand2 img {
  height: 44px;
  width: auto;
  margin: -5px 25px 0;
}
.site_search {
  width: 182px;
  position: relative;
  transition: ease-in-out 0.4s;
}
.site_search.form-inline {
  height: 40px;
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
}
.site_search.form-inline input,
.site_search.form-inline btn {
  border: 0 !important;
  box-shadow: none;
}
.site_search.form-inline input {
  height: 38px;
  width: calc(100% - 42px);
  display: inline-block;
}
.srch_drop {
  position: absolute;
  top: 49px;
  left: 0;
  width: 364px;
  border-radius: 4px;
  background: #fff;
  padding: 10px;
  animation-name: dropdownAnimation;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  display: none;
  border: 1px solid #ddd;
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.srch_drop:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border-left: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
  left: 20px;
  top: -9px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  z-index: 999;
}

.site_search .form-control {
  border: 1px solid #ddd !important;
  height: 38px;
  background: transparent;
}
.site_search .form-control:focus {
  border-color: #f28e1d;
}
.site_search .btn {
  position: absolute;
  top: 0;
  right: 1px;
  border: 0;
  padding: 1px 7px !important;
  font-size: 20px;
  color: #777;
  background: transparent;
  height: 38px;
}
.site_search .btn:hover {
  color: #000;
}

.header-search-options {
  padding: 8px 2px;
}
.header-search-options li {
  display: inline-block;
}
.header-search-options li + li {
  margin-left: 8px;
}
.header-search-options li a {
  color: #fff;
  background: #999;
  padding: 8px 15px;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 13px;
}
.header-search-options li a:hover {
  background: #777;
}
.header-search-options li.active a {
  background: #169dd7;
}
.close-header-search {
  position: absolute;
  right: -12px;
  top: -10px;
  color: #c00;
  width: 22px;
  height: 22px;
  text-align: center;
  border: 1px solid #c00;
  border-radius: 50%;
  background: #fff;
  font-size: 13px;
  z-index: 5000;
  cursor: pointer;
  line-height: 21px;
}
.header-search-options {
  margin: 0;
}
.ham_menu {
  font-size: 20px;
  margin-left: 10px;
}

.leftnav {
  position: fixed;
  top: 70px;
  bottom: 20px;
  left: 20px;
  width: 60px;
  background: #222;
  border-radius: 5px;
  padding: 5px 0;
  z-index: 20000;
  transition: all 0.5s;
  opacity: 1;
  height: 90vh;
}
.leftnav:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #222;
  left: 22px;
  top: -8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  z-index: 999;
}
.leftnav ul {
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 111111;
  transition: all 0.7s;
}
.leftnav ul li {
  list-style: none;
  border-bottom: 1px solid #444;
  position: relative;
  line-height: 2;
}
.leftnav ul li a {
  display: block;
  padding: 5px;
  font-size: 24px;
  color: #fff;
}
.leftnav ul li a span {
}
.leftnav ul li a em {
  display: none;
  transition: all 0.2s;
  font-size: 14px;
  font-style: normal;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  background: #2088fb;
  color: #fff;
  text-decoration: none;
  border-radius: 0 4px 4px 0;
  z-index: 100;
  padding: 16px 10px;
  min-width: 140px;
}
.leftnav ul li a:hover em {
  display: table-cell;
  vertical-align: middle;
}

.leftnav .lm-bottom {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}
.leftnav .lm-bottom li {
  border: 0;
  border-top: 1px solid #444;
}
.leftnav ul li:hover {
  background: #2088fb;
}

.front-wrapper {
  display: block;
  width: 100%;
  max-width: 1200px; /*padding-left: 80px;*/
  margin: 0 auto;
  transition: all 0.3s;
}
/*.hideleftnav .front-wrapper{display: block; width:100%; max-width:1200px; padding: 0;  margin: 0 auto; transition: all 0.3s}*/
footer .front-wrapper {
  max-width: 1200px;
}
.hideleftnav .leftnav {
  opacity: 0;
  height: 0;
  z-index: 1;
  bottom: auto;
}
.hideleftnav .leftnav ul {
  display: none;
}

/* .ham_menu i{transition: all 0.2s}
.hideleftnav .ham_menu i{transform: rotate(90deg)} */
/*my changes*/
/* .ham_menu i {
  transform: rotate(90deg);
}
.hideleftnav .ham_menu i {
  transition: all 0.2s;
  transform: rotate(0deg);
} */

section {
  padding: 70px 0 50px;
}
section:nth-child(even) {
  background: #f2f2f2;
}
section.h-100 {
  min-height: 400px;
}
section p {
  color: #000;
  line-height: 2;
}
section.white {
  background: #fff !important;
}
section.grey {
  background: #f2f2f2 !important;
}

h1 {
  font-size: 50px;
  color: #000;
  font-weight: 300;
  margin: 0 0 40px;
}
h1 span {
  color: #2289fd;
  font-weight: 500;
}
h2 {
  font-size: 30px;
  color: #555;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

section {
  font-size: 20px;
}
.relative {
  position: relative;
}
section ul {
  padding: 0;
  margin: 30px 0 50px 0;
  display: block;
}
section ul li {
  list-style: none;
  line-height: 35px;
  margin-bottom: 15px;
  color: #000;
}
section ul li i {
  padding-right: 10px;
  font-size: 18px;
}
.home-user-tablist {
  position: absolute;
  bottom: 150px;
  left: 15px;
  z-index: 100;
}
.home-user-tablist .nav-link {
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #555;
  position: relative;
  margin: 0 -2px;
  background: #fff;
  z-index: 100;
  height: 41px;
  padding: 9px 20px;
}
.home-user-tablist .nav-link.active {
  border: 1px solid #f28e1d;
  color: #fff;
  background: #f28e1d;
  z-index: 101;
  height: 47px;
  margin-top: -3px;
  padding: 11px 20px;
}
.btn-learn-more {
  position: absolute;
  bottom: 0;
  left: 0;
}
p.lead2 {
  font-size: 20px;
  color: #555;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.5;
}

.pmanagement-tablist .nav-link {
  color: #555;
  border: 0;
  background: #fff;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 40px;
}
.pmanagement-tablist .nav-link:last-child {
  margin-bottom: 0;
}
.pmanagement-tablist .nav-link:hover {
  background: #eee;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 15px;
}
.pmanagement-tablist .nav-link p {
  margin: 0;
}
.pmanagement-tablist .nav-link.active {
  color: #fff;
  border: 0;
  background: #228afd;
}
.pmanagement-tablist .nav-link h2 {
  font-weight: 400;
  color: #228afd;
}
.pmanagement-tablist .nav-link.active h2 {
  font-weight: 400;
  color: #fff;
}
.pmanagement-tablist .nav-link.active p {
  color: #fff;
}

.landing-cloud {
  background: url(../images/frontend/landing/cloud.jpg) no-repeat;
  height: 300px !important;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 30px;
}
.landing-cloud h1 span {
  color: #a2e863;
}
.landing-cloud p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 40px;
}

#testimonial .item {
  padding: 20px;
}
#testimonial .item .content {
  box-shadow: 0 5px 20px 0 rgba(69, 79, 91, 0.2);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background: #fff;
}
#testimonial .item .content img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  max-width: 150px;
  margin: 0 auto 20px;
}
#testimonial .item .content p.author-name {
  color: #000;
  margin-bottom: 5px;
  line-height: 1.5;
}
#testimonial .item .content p.author-type {
  color: #2189ff;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
}
#testimonial .item .content p.author-quote {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.5;
}
#testimonial .item .content .btn {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.partners-logo {
  text-align: center;
  padding-bottom: 50px;
}
.partners-logo img {
  height: 100%;
  max-height: 90px;
  width: auto;
  margin: 0 20px;
}

.landing.testimonial h1 {
  margin-bottom: 10px;
}
.landing.testimonial p.lead2 {
  margin-bottom: 10px;
}
.landing #testimonial .btn {
  padding: 8px 15px;
  font-size: 14px;
  margin-top: 10px;
}
.testimonial .owl-theme .owl-nav.disabled + .owl-dots {
  margin: 0;
}

.scroll_To_Top {
  color: black;
  text-decoration: none;
  position: fixed;
  padding: 10px;
  text-align: center;
  bottom: 0px;
  right: 10px;
  display: none;
}
.scroll_To_Top:hover {
  color: #f00;
  text-decoration: none;
}
.scroll_To_Top i {
  color: #555;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  line-height: 21px;
  display: block;
  text-align: center;
  background: #fff;
}

footer {
  font-size: 15px;
}
.footer-top {
  background: #333;
  color: #fff;
  padding: 15px 15px 30px;
}
.footer-top .input-group {
  max-width: 350px;
  margin-top: 20px;
}
.copyright {
  padding: 15px;
}
.footer-top a,
.footer-top {
  color: #8a8989;
}
.footer-top p {
  margin: 5px 0;
  max-width: 480px;
}
.footer-top h4 {
  margin: 20px 0;
  color: #fff;
  font-weight: 400;
}
.footer-logo {
  max-width: 130px;
  margin: 15px 0 10px 0;
}
footer .form-control,
footer .form-control:focus {
  background: #535353;
  color: #fff;
  border-color: #727171;
}
.footer-list {
  padding: 0;
  margin: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.footer-list li {
  list-style: none;
}
.footer-list li a {
  display: block;
  padding: 6px 0;
}
.footer-list li a:hover {
  color: #35c0ff;
  text-decoration: none;
}
.footer-list li i {
  font-size: 12px;
  padding-left: 5px;
}

.footer-social a {
  display: inline-block;
  margin: 0 3px 0 0;
}
.footer-social a i {
  width: 40px;
  height: 40px;
  background: #999;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.2s;
}
.footer-social a:hover i {
  border-color: #ccc;
}
.footer-social a:first-child i {
  background: #314d97;
}
.footer-social a:nth-child(2) i {
  background: #20a2f7;
}
.footer-social a:nth-child(3) i {
  background: #2774b7;
}

.copyright {
  background: #151515;
  color: #828282;
  border-radius: 0 0 5px 5px;
}
.copyright p {
  margin: 20px 0;
}
.copyright a {
  display: inline-block;
  padding: 20px 0 20px 15px;
  color: #1d81f2;
}

/* landing landlord */
.img-shadow {
  box-shadow: 0 0 35px #ccc;
  max-width: 90%;
  margin: 0 auto;
  display: block;
  border: 1px solid #fff;
}
.switch-page {
  max-width: 900px;
  margin: 0 auto;
}
.switch-page a:hover {
  text-decoration: none;
}
.switch-page .media {
}
.switch-page .media img {
  width: 120px;
  height: auto;
  margin-right: 20px;
}
.switch-page .media .media-body h5 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 5px;
}
.switch-page .media .media-body h5 span {
  color: #2289fd;
}
.switch-page .media .media-body p {
  margin: 0;
  font-size: 16px;
  color: #000;
}
.switch-page .border_left {
  border-left: 1px solid #ddd;
  padding-left: 50px;
}

#endtoendpropmanagement {
  margin-top: 30px;
}
#endtoendpropmanagement h2 {
  font-size: 30px;
  font-weight: 400;
  color: #555;
  margin-bottom: 50px;
}
#endtoendpropmanagement p {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.landing-security ul {
  margin: 60px 0 0;
}
.landing-security ul li {
  margin: 30px 0;
  display: block;
}
.hdrshadow {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.landing .btn:not(.btn-link),
.landing-landlord .btn:not(.btn-link),
.landing-servicepro .btn:not(.btn-link),
.landing-renter .btn:not(.btn-link) {
  padding: 12px 40px;
  font-size: 16px;
  font-weight: 400;
}
/*My cahnges*/
.newchange {
  width: 100% !important;
  padding: 0 !important;
  max-width: 100%;
}
.arroww .fa {
  padding: 5px;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(10px, 0, 0);
    opacity: 0.3;
  }
}
.rocloud-pd {
  padding: 120px 0;
}

/* -----------------------
    Tween slider 
--------------------------*/
.front-wrapper.innerS1 {
  margin-top: 100px;
}
#mac {
  background: url(../images/frontend/landing/bg-mac.png) center / cover
    no-repeat;
  width: 600px;
  height: 346px;
  z-index: 2;
  position: fixed;
  transform: translate(100%, -100px);
}
#mac:after {
  content: "";
  background: transparent url(../images/frontend/landing/slider/2a.png) left top /
    cover no-repeat;
  display: block;
  width: 474px;
  height: 304px;
  position: absolute;
  left: 63px;
  top: 15px;
  z-index: 1;
}
#tween-title {
  width: 100vw;
  height: 140px;
  left: 0 !important;
  padding-top: 20px;
  display: block;
  z-index: 2;
  overflow: hidden;
  position: fixed;
  text-align: center;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 35%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 35%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 35%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  animation: bounceIn 0.5s linear alternate;
  -webkit-animation: bounceIn 0.5s linear alternate;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
#tween-title h1 {
  font-size: 40px;
}
#tween-title p.lead2 {
  font-size: 0.9em;
  line-height: 1.2em;
}
/* Letters hidden by default */
/* .slide {
    opacity: 0;
    visibility: hidden;
  } */
.txt {
  position: relative;
  left: 0;
  width: 39%;
  height: 100px;
  margin: 0 0 2% 0;
  padding: 1em 40px;
  color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.txt.active {
  background-color: #2289fd;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.txt h2 {
  font-size: 1.1em;
  line-height: 1.1em;
  font-weight: normal;
}
.txt p {
  font-size: 16px;
  line-height: 1.1em;
}
.txt.active h2,
.txt.active p {
  color: #fff;
}
.slide {
  width: 615px;
  right: -5px;
  height: 415px;
  top: -32px;
  margin: 0 auto;
  position: absolute;
  display: inline-block;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.slide.active {
  z-index: 11 !important;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* -----------------------
      //Tween slider 
  --------------------------*/
