*, *:before, *:after {
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
       }
           
           ::-webkit-scrollbar {
              width: 10px;
           }
           
           ::-webkit-scrollbar-track {
              background: #f1f1f1; 
              border-radius: 100px;
           }
           
           ::-webkit-scrollbar-thumb {
              background: #888; 
              border-radius: 100px;
           }
           
           ::-webkit-scrollbar-thumb:hover {
              background: #555; 
           }
       
      
       
       .calender #calendar {
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
         width: 100%;
         margin: 0 auto;
         height: auto;
         overflow: hidden;
       }
       
       .calender #calendar .header {
         height: 50px;
         width: 100%;
         background: transparent;
         text-align: center;
         position:relative;
         z-index: 100;
       }
       
       .calender .header h1 {
         margin: 0;
         padding: 0;
         font-size: 20px;
         line-height: 50px;
         font-weight: 100;
         letter-spacing: 1px;
         color: #fff;
       }
       
       .calender .left, .right {
         position: absolute;
         width: 0px;
         height: 0px;
         border-style: solid;
         top: 50%;
         margin-top: -7.5px;
         cursor: pointer;
       }
       
       .calender .left {
         border-width: 7.5px 10px 7.5px 0;
         border-color: transparent rgb(255, 255, 255) transparent transparent;
         left: 20px;
       }
       
       .calender .right {
         border-width: 7.5px 0 7.5px 10px;
         border-color: transparent transparent transparent rgb(255, 255, 255);
         right: 20px;
       }
       
       .calender .month {
         /*overflow: hidden;*/
         opacity: 0;
       }
       
       .calender .month.new {
         -webkit-animation: fadeIn 1s ease-out;
         opacity: 1;
       }
       
       .calender .month.in.next {
         -webkit-animation: moveFromTopFadeMonth .4s ease-out;
         -moz-animation: moveFromTopFadeMonth .4s ease-out;
         animation: moveFromTopFadeMonth .4s ease-out;
         opacity: 1;
       }
       
      .calender  .month.out.next {
         -webkit-animation: moveToTopFadeMonth .4s ease-in;
         -moz-animation: moveToTopFadeMonth .4s ease-in;
         animation: moveToTopFadeMonth .4s ease-in;
         opacity: 1;
       }
       
       .calender .month.in.prev {
         -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
         -moz-animation: moveFromBottomFadeMonth .4s ease-out;
         animation: moveFromBottomFadeMonth .4s ease-out;
         opacity: 1;
       }
       
      .calender  .month.out.prev {
         -webkit-animation: moveToBottomFadeMonth .4s ease-in;
         -moz-animation: moveToBottomFadeMonth .4s ease-in;
         animation: moveToBottomFadeMonth .4s ease-in;
         opacity: 1;
       }
       
       .calender .week {
        background: transparent;
       }
       
       .calender .day {
         display: inline-block;
         width: 14%;
         padding: 10px 5px;
         text-align: center;
         vertical-align: top;
         cursor: pointer;
         background: transparent;
         position: relative;
         z-index: 100;
         color: white;
       }
       
       .calender .day.other {
        color: rgba(255, 255, 255, .3);
       }
       
       .calender .day.today {
         color: rgba(156, 202, 235, 1);
       }
       
       .calender .day-name {
         font-size: 9px;
         text-transform: uppercase;
         margin-bottom: 5px;
         color: rgba(255, 255, 255, 0.65);
         letter-spacing: .7px;
       }
       
       .calender .day-number {
         font-size: 19px;
         letter-spacing: 1.5px;
       }
       
       
       .calender .day .day-events {
         list-style: none;
         margin-top: 0px;
         text-align: center;
         min-height: 0px;
         line-height: 6px;
         overflow: hidden;
       }
       
      .calender  .day .day-events span {
         vertical-align: top;
         display: inline-block;
         padding: 0;
         margin: 0;
         width: 5px;
         height: 5px;
         line-height: 5px;
         margin: 0 1px;
       }
       
       .calender .blue { background: rgba(156, 202, 235, 1); }
       .calender .orange { background: rgba(247, 167, 0, 1); }
       .calender .green { background: rgba(153, 198, 109, 1); }
       .calender .yellow { background: rgba(249, 233, 0, 1); }
           
           .calender .delBTN {
             position: relative;
         left: 82%;
         top: 0;
             border: 0;
         border-radius: 100%;
         cursor: pointer;
         font-size: 1em;
           }
       
       .calender .details {
         position: relative;
         width: 420px;
         height: 75px;
         background: rgb(242, 142, 30);
         margin-top: 5px;
         border-radius: 4px;
       }
       
       .calender .details.in {
         -webkit-animation: moveFromTopFade .5s ease both;
         -moz-animation: moveFromTopFade .5s ease both;
         animation: moveFromTopFade .5s ease both;
       }
       
       .calender .details.out {
         -webkit-animation: moveToTopFade .5s ease both;
         -moz-animation: moveToTopFade .5s ease both;
         animation: moveToTopFade .5s ease both;
       }
       
      .calender  .arrow {
         position: absolute;
         top: -5px;
         left: 50%;
         margin-left: -2px;
         width: 0px;
         height: 0px;
         border-style: solid;
         border-width: 0 5px 5px 5px;
         border-color: transparent transparent rgb(242, 142, 30) transparent;
         transition: all 0.7s ease;
       }
       
       .calender .events {
         height: 75px;
         padding: 7px 0;
         overflow-y: auto;
         overflow-x: hidden;
       }
       
       .calender  .events.in {
         -webkit-animation: fadeIn .3s ease both;
         -moz-animation: fadeIn .3s ease both;
         animation: fadeIn .3s ease both;
       }
       
       .calender .events.in {
         -webkit-animation-delay: .3s;
         -moz-animation-delay: .3s;
         animation-delay: .3s;
       }
       
      .calender  .details.out .events {
         -webkit-animation: fadeOutShrink .4s ease both;
         -moz-animation: fadeOutShink .4s ease both;
         animation: fadeOutShink .4s ease both;
       }
       
      .calender  .events.out {
         -webkit-animation: fadeOut .3s ease both;
         -moz-animation: fadeOut .3s ease both;
         animation: fadeOut .3s ease both;
       }
       
       .calender .event {
         font-size: 16px;
         line-height: 22px;
         letter-spacing: .5px;
         padding: 2px 16px;
         vertical-align: top;
       }
       
       .calender .event.empty {
         color: #fff;
       }
       
       .calender .event-category {
         height: 10px;
         width: 10px;
         display: inline-block;
         margin: 6px 0 0;
         vertical-align: top;
       }
       
       .calender .event span {
         display: inline-block;
         padding: 0 0 0 7px;
       }
       
       .calender .legend {
         position: absolute;
         bottom: 0;
         width: 100%;
         height: auto;
         background: rgba(60, 60, 60, 1);
         line-height: 30px;
         z-index: 999;
       }
       
       .calender .entry {
         position: relative;
         padding: 0 0 0 25px;
         font-size: 13px;
         display: inline-block;
         line-height: 30px;
         background: transparent;
       }
       
       .calender .entry:after {
         position: absolute;
         content: '';
         height: 5px;
         width: 5px;
         top: 12px;
         left: 14px;
       }
                   
       .calender .addBTN{
         position: absolute;
         width: 70px;
         height: 70px;
         bottom: 10%;
         right: 5%;
         font-size: 80px;
         background-color: rgba(200,200,200,0.9);
         color: grey;
         text-align: center;
         vertical-align: baseline;
         border-radius: 100%;
         cursor: pointer;
             z-index: 999;
             display: none;
       }
                   
      .calender  .addBTN::before{
         position: relative;
         top: -14%;
         content: '+';
       }
                   
      .calender  #formDiv {
         display: none;
         position: absolute;
         top: 25%;
         left: 20%;
         background-color: rgba(200,200,200,0.9);
         padding: 25px;
         margin: 0 auto;
         height: 50%;
         width: 65%;
         color: black;
       }
                   
      .calender  form{
         height: 100%;
         width: 100%;
         margin: 0 auto;
       }
       
       .entry.blue:after { background: rgba(156, 202, 235, 1); }
       .entry.orange:after { background: rgba(247, 167, 0, 1); }
       .entry.green:after { background: rgba(153, 198, 109, 1); }
       .entry.yellow:after { background: rgba(249, 233, 0, 1); }'
       
       /* Animations are cool!  */
       @-webkit-keyframes moveFromTopFade {
         from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%);}
       }
       @-moz-keyframes moveFromTopFade {
         from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
       }
       @keyframes moveFromTopFade {
         from { height:0px; margin-top:0px; transform: translateY(-100%); }
       }
       @-webkit-keyframes moveToTopFade {
         to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
       }
       @-moz-keyframes moveToTopFade {
           to { height:0px; -moz-transform: translateY(-100%); }
       }
       @keyframes moveToTopFade {
           to { height:0px; transform: translateY(-100%); }
       }
       @-webkit-keyframes moveToTopFadeMonth {
           to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
       }
       @-moz-keyframes moveToTopFadeMonth {
           to { opacity: 0; -moz-transform: translateY(-30%); }
       }
       @keyframes moveToTopFadeMonth {
           to { opacity: 0; -moz-transform: translateY(-30%); }
       }
       @-webkit-keyframes moveFromTopFadeMonth {
           from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
       }
       @-moz-keyframes moveFromTopFadeMonth {
           from { opacity: 0; -moz-transform: translateY(30%); }
       }
       @keyframes moveFromTopFadeMonth {
           from { opacity: 0; -moz-transform: translateY(30%); }
       }
       @-webkit-keyframes moveToBottomFadeMonth {
           to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
       }
       @-moz-keyframes moveToBottomFadeMonth {
           to { opacity: 0; -webkit-transform: translateY(30%); }
       }
       @keyframes moveToBottomFadeMonth {
           to { opacity: 0; -webkit-transform: translateY(30%); }
       }
       @-webkit-keyframes moveFromBottomFadeMonth {
           from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
       }
       @-moz-keyframes moveFromBottomFadeMonth {
           from { opacity: 0; -webkit-transform: translateY(-30%); }
       }
       @keyframes moveFromBottomFadeMonth {
           from { opacity: 0; -webkit-transform: translateY(-30%); }
       }
       @-webkit-keyframes fadeIn  {
           from { opacity: 0; }
       }
       @-moz-keyframes fadeIn  {
           from { opacity: 0; }
       }
       @keyframes fadeIn  {
           from { opacity: 0; }
       }
       @-webkit-keyframes fadeOut  {
           to { opacity: 0; }
       }
       @-moz-keyframes fadeOut  {
           to { opacity: 0; }
       }
       @keyframes fadeOut  {
           to { opacity: 0; }
       }
       @-webkit-keyframes fadeOutShink  {
           to { opacity: 0; padding: 0px; height: 0px; }
       }
       @-moz-keyframes fadeOutShink  {
           to { opacity: 0; padding: 0px; height: 0px; }
       }
       @keyframes fadeOutShink  {
           to { opacity: 0; padding: 0px; height: 0px; }
       }
.calender {
    margin-top: 20px;
    background: #7c90e6;
}
