/* Style written by Anup Pan */
a:focus {
  outline: none !important;
}
a,
.nav-tabs > li.active > a,
.nav-tabs > li > a {
  outline: none;
}
.row:before,
.row:after {
  display: none !important;
}
.nomargin {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-75 {
  margin-top: 75px !important;
}
.mt-100 {
  margin-top: 100px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-75 {
  margin-bottom: 75px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}

.mtb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mtb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mtb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mtb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mtb-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.mtb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mtb-40 {
  margin-top: 40px !important;
  margin-bottom: 30px !important;
}
.mtb-50 {
  margin-top: 50px !important;
  margin-bottom: 40px !important;
}
.mtb-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}
.mtb-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.nopadding {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-75 {
  padding-top: 75px !important;
}
.pt-100 {
  padding-top: 100px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-75 {
  padding-bottom: 75px !important;
}
.pb-100 {
  padding-bottom: 100px !important;
}

.ptb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ptb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ptb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.ptb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.ptb-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.ptb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.ptb-40 {
  padding-top: 30px !important;
  padding-bottom: 40px !important;
}
.ptb-50 {
  padding-top: 30px !important;
  padding-bottom: 50px !important;
}
.ptb-75 {
  padding-top: 30px !important;
  padding-bottom: 75px !important;
}
.ptb-100 {
  padding-top: 30px !important;
  padding-bottom: 100px !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-left: 0 !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.plr-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.plr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.plr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.plr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.plr-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.border-top-0 {
  border-top: 1px solid transparent !important;
}
.border-1 {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #ccc;
}
.border-t {
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: #ccc;
}
.border-b {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #ccc;
}
.border-l {
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-left-color: #ccc;
}
.border-r {
  border-right-width: 1px !important;
  border-right-style: solid !important;
  border-right-color: #ccc;
}
.border-tb {
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: #ccc !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #ccc;
}
.border-lr {
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-left-color: #ccc !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  border-right-color: #ccc;
}

.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-28 {
  font-size: 28px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-36 {
  font-size: 36px !important;
}
.font-40 {
  font-size: 40px !important;
}
.font-45 {
  font-size: 45px !important;
}
.font-50 {
  font-size: 50px !important;
}
.font-75 {
  font-size: 75px !important;
}
.font-100 {
  font-size: 100px !important;
}

.font-weight-100 {
  font-weight: 100 !important;
}
.font-weight-200 {
  font-weight: 200 !important;
}
.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-700 {
  font-weight: 700 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.font-weight-normal {
  font-weight: normal !important;
}
.font-weight-bold {
  font-weight: bold !important;
}

.bg-color-gray {
  color: #000 !important;
  background-color: #d2d6de !important;
}
.bg-color-black {
  background-color: #111 !important;
}
.bg-color-red {
  background-color: #dd4b39 !important;
}
.bg-color-yellow {
  background-color: #f39c12 !important;
}
.bg-color-aqua {
  background-color: #00c0ef !important;
}
.bg-color-blue {
  background-color: #0073b7 !important;
}
.bg-color-light-blue {
  background-color: #3c8dbc !important;
}
.bg-color-green {
  background-color: #00a65a !important;
}
.bg-color-navy {
  background-color: #001f3f !important;
}
.bg-color-teal {
  background-color: #39cccc !important;
}
.bg-color-olive {
  background-color: #3d9970 !important;
}
.bg-color-lime {
  background-color: #01ff70 !important;
}
.bg-color-orange {
  background-color: #ff851b !important;
}
.bg-color-fuchsia {
  background-color: #f012be !important;
}
.bg-color-purple {
  background-color: #605ca8 !important;
}
.bg-color-maroon {
  background-color: #d81b60 !important;
}

.color-red {
  color: #dd4b39 !important;
}
.color-yellow {
  color: #f39c12 !important;
}
.color-aqua {
  color: #00c0ef !important;
}
.color-blue {
  color: #0073b7 !important;
}
.color-black {
  color: #111 !important;
}
.color-light-blue {
  color: #3c8dbc !important;
}
.color-green {
  color: #00a65a !important;
}
.color-gray {
  color: #d2d6de !important;
}
.color-navy {
  color: #001f3f !important;
}
.color-teal {
  color: #39cccc !important;
}
.color-olive {
  color: #3d9970 !important;
}
.color-lime {
  color: #01ff70 !important;
}
.color-orange {
  color: #ff851b !important;
}
.color-fuchsia {
  color: #f012be !important;
}
.color-purple {
  color: #605ca8 !important;
}
.color-maroon {
  color: #d81b60 !important;
}

/* font family Roboto  */

@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Bold.eot");
  src: url("roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("roboto/Roboto-Bold.woff") format("woff"),
    url("roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Medium.eot");
  src: url("roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("roboto/Roboto-Medium.woff") format("woff"),
    url("roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Regular.eot");
  src: url("roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("roboto/Roboto-Regular.woff") format("woff"),
    url("roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Light.eot");
  src: url("roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("roboto/Roboto-Light.woff") format("woff"),
    url("roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.thumbs-wrapper.axis-vertical ul li img {
  width: 80px;
  height: 80px;
}

html,
body,
.wrapper {
  min-height: 100%;
}
body,
html {
  height: 100%;
}
body {
  background-color: #ecf0f5;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
/* Roboto light-300, normal-400, medium-500, bold-700*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #333;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: 500;
  color: #777;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}

.text-primary {
  color: #2189ff !important;
}
.text-warning {
  color: #f28e1d !important;
}
.text-success {
  color: #5ea637 !important;
}
.text-info {
  color: #33c3f8 !important;
}
.text-danger {
  color: #ef3d4e !important;
}
.text-grey {
  color: #999 !important;
}
.text-light {
  color: #777 !important;
}
.text-secondary {
  color: #555 !important;
}
.text-dark {
  color: #333 !important;
}
.text-black {
  color: #000 !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #2189ff !important;
  border-color: #2189ff !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #ffffff !important;
  background-color: #217be0 !important;
  border-color: #217be0 !important;
}
.btn-warning {
  color: #ffffff !important;
  background-color: #f28e1d !important;
  border-color: #f28e1d !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  color: #ffffff !important;
  background-color: #de8017 !important;
  border-color: #de8017 !important;
}
.btn-outline-warning {
  color: #f28e1d !important;
  background-color: #fff !important;
  border-color: #f28e1d !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-warningoutline-:active {
  color: #fff !important;
  background-color: #de8017 !important;
  border-color: #de8017 !important;
}
.btn-info {
  color: #ffffff !important;
  background-color: #33c3f8 !important;
  border-color: #33c3f8 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  color: #ffffff !important;
  background-color: #29a8d7 !important;
  border-color: #29a8d7 !important;
}
.btn-success {
  color: #ffffff !important;
  background-color: #5ea637 !important;
  border-color: #5ea637 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  color: #ffffff !important;
  background-color: #4c9127 !important;
  border-color: #4c9127 !important;
}
.btn-danger {
  color: #ffffff !important;
  background-color: #ef3d4e !important;
  border-color: #ef3d4e !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  color: #ffffff !important;
  background-color: #c9192a !important;
  border-color: #c9192a !important;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #5ea637;
  border-color: #5ea637;
}
.btn-success.notActive {
  background: #eee !important;
  color: #999 !important;
}

.btn-grey {
  color: #ffffff !important;
  background-color: #c0bbbc !important;
  border-color: #c0bbbc !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: all 0.2s;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active {
  color: #ffffff !important;
  background-color: #a4a3a3 !important;
  border-color: #a4a3a3 !important;
}

/* login */
.login-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.login-logo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 115px;
  margin: 0 auto 30px;
}
.login-box {
  display: block;
  background: #fff;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}
.login-box h4 {
  margin: 0 0 30px;
  text-align: center;
  font-weight: 500;
}
.or-seperator {
  display: block;
  width: 100%;
  margin: 30px 0 7px;
  text-align: center;
  border-top: 1px solid #ddd;
}
.or-seperator span {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -14px;
  z-index: 1;
}
.login-wrapper .form-group {
  position: relative;
}
.login-wrapper .form-group i {
  position: absolute;
  top: 13px;
  left: 12px;
  z-index: 100;
  color: #777;
}
.login-wrapper .form-group i.fa-envelope {
  top: 14px;
}
.login-wrapper .form-group .form-control {
  position: relative;
  z-index: 99;
  padding-left: 36px;
  display: block;
  width: 100%;
}
.login-wrapper .form-group .validation-message {
  color: #555;
  font-size: 80%;
  padding-top: 5px;
}
/*.login-wrapper .form-group.success:after{position:absolute; content:'\f107'; font-family:'FontAwesome'; z-index:102; font-size:14px; top:12px; right:15px}*/
.login-wrapper .form-group.success .form-control {
  border-color: #5ea637;
  position: relative;
}
.login-wrapper .form-group.success .validation-message,
.login-wrapper .form-group.success i {
  color: #5ea637;
}
.login-wrapper .form-group.danger .form-control {
  border-color: #e04d5b;
}
.login-wrapper .form-group.danger .validation-message,
.login-wrapper .form-group.danger i {
  color: #e04d5b;
}
.login-wrapper .lead {
  text-align: center;
  margin: -10px 0 30px;
  font-size: 16px;
}
.btn-facebook {
  background: #3b5999 !important;
  border-color: #3b5999 !important;
  display: block;
}
.btn-facebook:hover {
  background: #3b5999 !important;
  border-color: #3b5999 !important;
}
.btn-linkedin {
  background: #1a82b9 !important;
  border-color: #1a82b9 !important;
  display: block;
}
.btn-linkedin:hover {
  background: #1a82b9;
  border-color: #1a82b9;
}
.btn-facebook i,
.btn-linkedin i {
  color: #fff !important;
  font-size: 18px;
  margin-left: 4px;
  top: 12px !important;
}

.user-type ul {
  padding: 0;
  float: none;
  text-align: center;
  width: 100%;
  margin: 0 auto 20px;
  display: flex;
}
.user-type ul li {
  width: 31%;
  margin: 0 1%;
  list-style: none;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  position: relative;
  float: left;
}
.user-type ul li a {
  display: block;
  color: #777;
  padding: 12px 0;
}
.user-type ul li a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #000;
}
.user-type ul li a i {
  font-size: 32px;
  line-height: 1;
}
.user-type ul li a p {
  font-size: 12px;
  margin: 5px 0 0;
}
.user-type ul li.active {
  background: #f28e1d;
  border-color: #f28e1d;
  position: relative;
}
.user-type ul li.active a {
  color: #fff;
}
.user-type ul li.active:after {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -9px;
  border-top: 7px solid #f28e1d;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.verify-code .form-control {
  text-align: center;
  font-size: 20px;
  border-radius: 0 !important;
}
.verify-code .form-control:first-child {
  border-radius: 5px 0 0 5px !important;
  margin-left: 4px;
}
.verify-code .form-control:last-child {
  border-radius: 0 5px 5px 0 !important;
}
.lock-screen .user-logo {
  display: block;
  max-width: 70px;
  margin: 0 auto;
}
.lock-screen .login-box {
  background: transparent;
  box-shadow: none;
}

.input-group.verify-code {
  display: block;
  width: 100%;
}
.input-group.verify-code .form-control {
  float: left;
  width: 16.666%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.mdi {
  line-height: 1;
}
a {
  color: #2189ff;
}
a,
input {
  outline: none !important;
}
a:focus,
a:hover,
input:focus,
button:focus,
* {
  text-decoration: none;
  outline: none !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
input[type="submit"],
button {
  transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  text-decoration: none;
}
a:hover,
input[type="submit"]:hover,
buton:hover {
  transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
}

.wrapper {
  position: relative;
}
.content-wrapper {
  min-height: calc(100vh - 25px);
  padding-top: 68px;
  background: #ecf0f5;
}
.content-wrapper > .content {
  padding: 0 0.5rem;
}
.content-wrapper > .content.dashboard {
  padding: 0;
}

.content-header {
  padding: 0;
  margin: 5px 0 15px 0;
}
.content-header h1 {
  padding: 0 0 0 12px;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  position: relative;
}
.content-header h1:before {
  content: "";
  height: 17px;
  width: 6px;
  background: #2189ff;
  position: absolute;
  left: 0;
  top: 2px;
}

.content-header .breadcrumb {
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: 1;
  float: right;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  font-size: 14px;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #555;
  content: ">";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #000;
}
.main-footer {
  font-size: 11px;
  text-align: center;
  color: #777;
}
.main-footer p {
  margin-bottom: 5px;
}
/*.box{box-shadow:0 0 1px rgba(0,0,0,.125),0 3px 2px rgba(0,0,0,.15); background:#fff; margin-bottom: 20px}*/
.box,
.card {
  position: relative;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
  padding: 15px;
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding-bottom: 10px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
}
h3.box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  font-weight: 500;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 5px;
}
.no-header .box-body {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #f4f4f4;
  padding: 10px 15px;
  background-color: #ffffff;
}

.col-fixed-250-md {
  flex: 0 0 250px;
  padding: 0 5px;
  width: 250px;
}
.col-fixed-300-lg {
  flex: 0 0 315px;
  padding: 0 5px;
  width: 315px;
}

.main-header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  padding: 5px 15px;
  min-height: 54px;
}
.navbar-brand {
  padding: 0;
  margin: 0 20px;
}
.navbar-brand img {
  height: 44px;
  width: auto;
}
.ham_menu {
  font-size: 16px;
  margin-left: 21px;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 12px;
  padding-left: 12px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #2189ff;
}
.main-header .badge-warning {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.dropdown-menu,
.form-control,
.btn {
  font-size: 14px;
}
.dropdown-item {
  padding: 5px 15px;
}
.btn {
  border-radius: 5px;
  padding: 9px 15px 10px;
}
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none;
}
.form-control {
  height: auto;
  border-color: #ddd;
  box-shadow: none;
  padding: 9px 12px 10px;
}
select.form-control:not([size]):not([multiple]),
select.form-control {
  line-height: 36px;
  height: 42px;
}
.form-control:focus {
  border-color: #f28e1d;
  box-shadow: none;
}
.table {
  margin: 0;
}
.site_search {
  width: 182px;
  position: relative;
}
.site_search.form-inline {
  height: 40px;
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
}
.site_search.form-inline input,
.site_search.form-inline btn {
  border: 0 !important;
  box-shadow: none;
}
.site_search.form-inline input {
  height: 38px;
  width: calc(100% - 42px);
  display: inline-block;
}
.srch_drop {
  position: absolute;
  top: 59px;
  left: 0;
  width: 364px;
  border-radius: 4px;
  background: #fff;
  padding: 10px;
  animation-name: dropdownAnimation;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  display: none;
  border: 1px solid #ddd;
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.srch_drop:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border-left: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
  left: 20px;
  top: -9px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  z-index: 999;
}

.site_search .form-control {
  border: 1px solid #ddd !important;
  height: 38px;
  background: transparent;
}
.site_search .form-control:focus {
  border-color: #f28e1d;
}
.site_search .btn {
  position: absolute;
  top: 0;
  right: 1px;
  border: 0;
  padding: 1px 7px !important;
  font-size: 20px;
  color: #777;
  background: transparent;
  height: 38px;
}
.site_search .btn:hover {
  color: #000;
}

.header-search-options {
  padding: 8px 2px;
}
.header-search-options li {
  display: inline-block;
}
.header-search-options li + li {
  margin-left: 8px;
}
.header-search-options li a {
  color: #fff;
  background: #999;
  padding: 8px 15px;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.2s;
}
.header-search-options li a:hover {
  background: #777;
}
.header-search-options li.active a {
  background: #169dd7;
}
.close-header-search {
  position: absolute;
  right: -12px;
  top: -10px;
  color: #c00;
  width: 22px;
  height: 22px;
  text-align: center;
  border: 1px solid #c00;
  border-radius: 50%;
  background: #fff;
  font-size: 13px;
  z-index: 5000;
  cursor: pointer;
}
.header-search-options {
  margin: 0;
}
.user-menu {
}
.user-menu .user-menu-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.user-menu .user-menu-link img {
  height: 40px;
  width: auto;
}
.user-menu .user-menu-dd {
  right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-header .dropdown-menu {
  top: 56px;
  border: 1px solid #ddd;
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.main-header .dropdown-menu:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border-left: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
  left: 20px;
  top: -9px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  z-index: 999;
}
.main-header .dropdown-menu-right.dropdown-menu:before {
  left: auto;
  right: 20px;
}
.notification-menu {
  margin-right: 5px;
}
.notification-menu .dropdown-menu {
  min-width: 300px;
}
.notification-menu .dropdown-menu ul {
  padding: 0 15px 15px;
  max-height: 150px;
  overflow: auto;
}
.notification-menu .dropdown-menu ul li {
  list-style: none;
  line-height: 2;
}
.notification-menu .dropdown-menu ul li a {
  font-size: 12px;
  padding: 5px;
  color: #2189ff;
}
.notification-menu .dropdown-menu ul li span {
  float: right;
}
.notification-menu .dropdown-menu ul li a .red {
  color: #c00;
}

/* side-bar*/
.sidebar_menu {
  background: #2189ff /*#ccc*/;
  color: #fff;
  position: fixed;
  width: 250px;
  left: 15px;
  top: 70px;
  bottom: 15px;
  z-index: 6;
  border-radius: 5px;
}
.sidebar_menu:before {
  position: absolute;
  content: "";
  top: -14px;
  left: 26px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #2189ff;
}
.sidebar_menu li a {
  padding: 10px 15px 10px 26px;
  color: #dddddd;
  font-size: 14px;
  display: block;
}
.sidebar_menu li a {
  border-bottom: 1px solid #4b9fff;
}
.sidebar_menu li a span {
  font-size: 24px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
}
.sidebar_menu li a em {
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}
.sidebar_menu .sub_menu li a {
  padding-left: 64px;
}
.sidebar_menu li a > span {
  font-size: 24px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
}
.sidebar_menu li a:hover,
.sidebar_menu li a.down,
body.minimize .sidebar_menu li:hover > a {
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #217be0, #217be0);
}
.sidebar_menu li:first-child a:hover {
  border-radius: 5px 5px 0 0;
}

.sidebar_menu1 {
  background: #1c1d1d /*#ccc*/;
  color: #fff;
  position: fixed;
  width: 250px;
  height: 500px;
  left: 15px;
  top: 70px;
  bottom: 15px;
  z-index: 6;
  border-radius: 5px;
}
.sidebar_menu1:before {
  position: absolute;
  content: "";
  top: -14px;
  left: 26px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #1c1d1d;
}
.sidebar_menu1 li a {
  padding: 10px 15px 10px 26px;
  color: #dddddd;
  font-size: 14px;
  display: block;
}
.sidebar_menu1 li a {
  border-bottom: 1px solid #333333;
}
.sidebar_menu1 li a span {
  font-size: 24px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
}
.sidebar_menu1 li a em {
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}
.sidebar_menu1 .sub_menu li a {
  padding-left: 64px;
}
.sidebar_menu1 li a > span {
  font-size: 24px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
}
.sidebar_menu1 li a:hover,
.sidebar_menu1 li a.down,
body.minimize .sidebar_menu li:hover > a {
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #217be0, #217be0);
}
.sidebar_menu1 li:first-child a:hover {
  border-radius: 5px 5px 0 0;
}

.sidebar_menu .bottom_menu li:first-child a:hover {
  border-radius: 0;
}
.top_menu {
  margin-bottom: 41px;
}
.sidebar_menu li a i {
  font-size: 21px;
  z-index: 6666;
  position: relative;
}
.sidebar_menu li a.down i {
  transform: rotateZ(90deg);
}
.sidebar_menu > li {
  border-bottom: 1px solid #4b9fff;
}
.fixed-bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2189ff;
  border-radius: 0 0 5px 5px;
}
.renter .fixed-bottom-menu,
.servicepro .fixed-bottom-menu {
  background: transparent;
}
.fixed-bottom-menu ul.bottom_menu li a {
  border-bottom: 1px solid #4b9fff;
}
.fixed-bottom-menu ul.bottom_menu li a:hover {
  background: #217be0;
}
.fixed-bottom-menu ul.bottom_menu li:first-child a {
  border-top: 1px solid #4b9fff;
}

.sidebar_menu1 .bottom_menu1 li:first-child a:hover {
  border-radius: 0;
}
.top_menu {
  margin-bottom: 41px;
}
.sidebar_menu1 li a i {
  font-size: 21px;
  z-index: 6666;
  position: relative;
}
.sidebar_menu1 li a.down i {
  transform: rotateZ(90deg);
}
.sidebar_menu1 > li {
  border-bottom: 1px solid #4b9fff;
}
.fixed-bottom-menu1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2189ff;
  border-radius: 0 0 5px 5px;
}
.home .fixed-bottom-menu1,
.home .fixed-bottom-menu1 {
  background: transparent;
}
.fixed-bottom-menu1 ul.bottom_menu li a {
  border-bottom: 1px solid #4b9fff;
}
.fixed-bottom-menu1 ul.bottom_menu li a:hover {
  background: #217be0;
}
.fixed-bottom-menu1 ul.bottom_menu li:first-child a {
  border-top: 1px solid #4b9fff;
}

.used_space {
  padding: 8px 5px;
  height: 45px;
}
.used_space a {
  color: #fff;
}
.used_space a:hover {
  color: #f60;
}
.used_space span {
  font-size: 9px;
  line-height: 12px;
}
.used_space .progress {
  height: 8px;
}
.used_space .progress-bar {
  background: #f5a449;
}

.no_bg {
  background: none !important;
}
.input-group-text {
  background: none;
  width: 42px;
  padding: 8px 0;
  text-align: center;
  display: inline-block;
}
.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub_menu {
  display: none;
  background: #217be0;
}
.sidebar_menu .sub_menu li + li {
  border-top: 0 solid #4b9fff;
}

.sub_menu1 {
  display: none;
  background: #217be0;
}
.sidebar_menu1 .sub_menu1 li + li {
  border-top: 0 solid #4b9fff;
}

body.colapsed .sidebar_menu {
  width: 80px;
}
body.colapsed .sidebar_menu .sub_menu li a {
  padding-left: 16px;
}
body.colapsed .sidebar_menu li a em,
body.colapsed .sidebar_menu li a i {
  display: none;
}
body.colapsed .sidebar_menu li {
  position: relative;
}
body.colapsed .sidebar_menu li:first-child em {
  border-radius: 4px 4px 4px 0 !important;
}
body.colapsed .sidebar_menu .bottom_menu li:first-child {
  border-radius: 0 4px 4px 0 !important;
}
body.colapsed .sidebar_menu .bottom_menu li:first-child em {
  border-radius: 0 4px 4px 0 !important;
}
body.colapsed .sidebar_menu li a:hover em {
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  background: #217be0;
  height: 44px;
  padding: 11px 0 11px 16px;
  width: 180px;
  color: #fff;
  border-radius: 0 4px 4px 0;
}
body.colapsed .sidebar_menu li a em:hover {
  background: #2189ff;
}
body.colapsed .sidebar_menu .bottom_menu li a:hover em {
  top: 1px;
}
body.colapsed .sidebar_menu li > ul.sub_menu {
  position: absolute;
  z-index: 9999;
  width: 180px;
  left: 100%;
  top: 0;
  border-radius: 0 4px 4px 0;
}
body.colapsed .sidebar_menu li:hover > ul.sub_menu {
  display: block !important;
}
body.colapsed .sidebar_menu li:hover > ul.sub_menu li {
  height: 46px;
}
body.colapsed .sidebar_menu li:hover > ul.sub_menu li a {
  padding: 12px 0 12px 16px;
  border: 0;
}
body.colapsed .sidebar_menu li:hover > ul.sub_menu li a:hover {
  background: #2189ff;
}
body.colapsed .sidebar_menu li:hover > ul.sub_menu li:last-child a:hover {
  background: #2189ff;
  border-bottom-right-radius: 4px;
}

body.colapsed .sidebar_menu1 {
  width: 80px;
}
body.colapsed .sidebar_menu1 .sub_menu li a {
  padding-left: 16px;
}
body.colapsed .sidebar_menu1 li a em,
body.colapsed .sidebar_menu li a i {
  display: none;
}
body.colapsed .sidebar_menu1 li {
  position: relative;
}
body.colapsed .sidebar_menu1 li:first-child em {
  border-radius: 4px 4px 4px 0 !important;
}
body.colapsed .sidebar_menu1 .bottom_menu1 li:first-child {
  border-radius: 0 4px 4px 0 !important;
}
body.colapsed .sidebar_menu1 .bottom_menu1 li:first-child em {
  border-radius: 0 4px 4px 0 !important;
}
body.colapsed .sidebar_menu1 li a:hover em {
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  background: #217be0;
  height: 44px;
  padding: 11px 0 11px 16px;
  width: 180px;
  color: #fff;
  border-radius: 0 4px 4px 0;
}
body.colapsed .sidebar_menu1 li a em:hover {
  background: #2189ff;
}
body.colapsed .sidebar_menu1 .bottom_menu1 li a:hover em {
  top: 1px;
}
body.colapsed .sidebar_menu1 li > ul.sub_menu1 {
  position: absolute;
  z-index: 9999;
  width: 180px;
  left: 100%;
  top: 0;
  border-radius: 0 4px 4px 0;
}
body.colapsed .sidebar_menu1 li:hover > ul.sub_menu1 {
  display: block !important;
}
body.colapsed .sidebar_menu1 li:hover > ul.sub_menu1 li {
  height: 46px;
}
body.colapsed .sidebar_menu1 li:hover > ul.sub_menu1 li a {
  padding: 12px 0 12px 16px;
  border: 0;
}
body.colapsed .sidebar_menu1 li:hover > ul.sub_menu1 li a:hover {
  background: #2189ff;
}
body.colapsed .sidebar_menu1 li:hover > ul.sub_menu1 li:last-child a:hover {
  background: #2189ff;
  border-bottom-right-radius: 4px;
}
/*desktop collapsed*/
/*laptop collapsed*/
body.colapsed .content-wrapper,
.main-footer {
  margin-left: 100px;
}

/*mobile menu*/
body.menu-mobile.offcanvas .sidebar_menu {
  margin-left: -255px;
  transition: margin-left 0.3s ease-in-out;
}
body.menu-mobile .sidebar_menu {
  margin-left: 1px;
}

.dashboard_welcome h2 {
  font-size: 24px;
  margin: 0 auto 15px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
}
.dashboard_welcome h2 strong {
  font-weight: 700;
}
.dashboard_welcome p {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 30px;
}

.card.widget-dashboard {
  padding: 0;
}
.box.widget-dashboard {
  padding: 0;
}

.widget-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  color: #fff;
}
.widget-small.primary.coloured-icon {
  background-color: #fff;
  color: #555555;
}
.widget-small .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 85px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px 0 0 4px;
  font-size: 43px;
}
.widget-small .info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
  -ms-flex-item-align: center;
  align-self: center;
}
.widget-small .info h4 {
  font-size: 16px;
  margin: 0;
  color: #555555;
  font-weight: 400;
}
.widget-small .info p {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}
.widget-small.primary.coloured-icon .icon {
  background-color: #f5a449;
  color: #fff;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0 !important;
}
body.minimize .mCSB_container,
body.minimize .mCustomScrollBox {
  overflow: visible;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #000;
}
.mCSB_outside + .mCSB_scrollTools {
  right: -18px;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #2189ff;
}

.bg-grey {
  background: #dce5f0;
  color: #000;
}
.profile_menu .list-group-item + .list-group-item {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ddd;
  background: #b3b2b2;
  font-size: 14px;
}
.profile_menu .list-group-item {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #fff;
}
.profile_menu .list-group-item a {
  color: #fff;
  border-left: 6px solid transparent;
  background: #b3b2b2;
  display: block;
  padding: 11px 20px 12px;
}
.profile_menu .list-group-item.active a,
.profile_menu .list-group-item a:hover {
  border: 0;
  background: #898989;
  border-left: 6px solid #f28e1d;
}
.profile_menu .list-group-item.active {
  background: none;
  border-color: #ddd;
}
.profile_menu .list-group-item:first-child.active a {
  border-radius: 5px 5px 0 0;
}
.profile_menu .list-group-item:last-child a {
  border-radius: 0 0 5px 5px;
}
.profile_menu .list-group-item:first-child a {
  border-radius: 5px 5px 0 0;
}

.profile_card {
  color: #fff;
  border-color: #2189ff;
  margin-bottom: 15px;
  border-radius: 5px;
}
.profile_card .top_panel {
  background: #2189ff;
  padding-bottom: 30px;
}
.profile_card .bottom_panel {
  background: #f3f3f3;
  padding: 15px 15px 0;
  border-radius: 5px;
}
.profile_card .name {
  font-size: 16px;
  margin: 5px 0 0;
}
.profile_card .name i {
  display: inline-block;
  color: #fff;
  background: #f28e1d;
  font-size: 9px;
  width: 19px;
  height: 19px;
  text-align: center;
  border-radius: 100%;
  vertical-align: top;
  line-height: 19px;
}
.profile_card .reference span {
  display: inline-block;
  color: #fff;
  background: #f28e1d;
  font-size: 9px;
  width: 19px;
  height: 19px;
  text-align: center;
  border-radius: 100%;
  vertical-align: top;
  line-height: 19px;
}
.profile_card .name a {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.profile_card .address {
  font-size: 14px;
  margin: 5px 0 5px;
}
.profile_card .card-body {
  padding: 15px 10px;
}
.profile_card .card-body span.card-link:nth-child(even) {
  margin-left: 1%;
}
.profile_card .progress-bar {
  background: #95ff61;
}
.profile_card .progress {
  height: 10px;
}
.active-about-tab {
  padding: 15px;
  color: #000;
  font-weight: 300;
}
.active-about-tab p.bold {
  font-weight: 500;
  color: #217be0;
  margin-bottom: 10px;
  font-size: 16px;
}
.hidden {
  display: none !important;
}
.card.profile_card {
  padding: 0;
}
.short_foot {
  color: #555;
  font-size: 0.7rem;
  text-align: center;
  padding-bottom: 15px;
}
.short_foot img {
  width: 40px;
  height: auto;
}
.profile_avator {
  position: relative;
  border: 1px solid #fff;
  width: 102px;
  height: 102px;
  margin: 0 auto 15px;
  border-radius: 50%;
}
.profile_avator img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;
  border-radius: 50%;
  overflow: hidden;
}
.profile_avator .status {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  color: #62d803;
  right: -6px;
  background: #fff;
  border-radius: 50%;
}
.profile_avator .status i {
  color: #62d803;
  font-size: 15px;
  margin-top: 5px;
}
.short_card {
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 3px 2px rgba(0, 0, 0, 0.15);
  margin: 0 1px;
  border-radius: 5px;
  background: #fff;
  padding: 15px 10px 0;
  margin-bottom: 20px;
}
.short_card.custom {
  margin-top: -50px;
}
ul.list-two-column {
  padding: 0;
  margin: 0;
  display: block;
  clear: both;
}
ul.list-two-column li {
  color: #888;
  font-size: 13px;
  line-height: 20px;
  margin: 0 1% 15px;
  display: inline-block;
  width: 46%;
}
ul.list-two-column li span {
  color: #888;
  width: 18px;
  height: 20px;
  font-size: 18px;
  margin-right: 3px;
  border: 1px solid #888;
  text-align: center;
  padding: 0 4px;
  border-radius: 3px;
}
ul.list-two-column li.verified,
ul.list-two-column li.verified span,
ul.list-two-column li.verified i {
  color: #5ea637;
  border-color: #5ea637;
}
ul.list-two-column li i {
  color: #888;
  width: 30px;
  height: 30px;
  font-size: 18px;
  margin-right: 5px;
  border: 1px solid #888;
  text-align: center;
  padding: 0 5px;
  border-radius: 3px;
}
.pro_complete {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 5px;
}
.get_connected span {
  display: block;
  color: #217be0;
  position: relative;
  cursor: pointer;
  margin: 0 0 15px;
  font-size: 15px;
  position: relative;
}
.get_connected span i.fa-check-circle {
  position: absolute;
  top: 3px;
  left: 40px;
  color: #62d803;
  font-size: 14px;
}
.get_connected span.active {
  color: #000;
}
.get_connected .fab.fa-telegram-plane {
  background: #35ade1;
}
.get_connected .fab {
  border-radius: 100%;
  width: 49px;
  height: 49px;
  color: #fff;
  line-height: 49px;
  font-size: 24px;
  margin: 0 5px 0 0;
  text-align: center;
}

.get_connected .fas.fa-times-circle {
  position: absolute;
  right: -11px;
  top: 17px;
  color: #ff0000;
}
.get_connected .fab.fa-facebook-f {
  background: #3b5999;
}
.get_connected .fab.fa-twitter {
  background: #7ccbfe;
}
.get_connected .fab.fa-linkedin-in {
  background: #1a82b9;
}
.get_connected .fab.fa-google-plus-g {
  background: #d54c3f;
}
.tab-content .cc label.big {
  font-size: 18px;
  color: #000;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "N";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 26px;
  text-align: center;
  color: #c00;
  font-family: "Roboto";
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "Y";
  color: #5ea637;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.pay_sec_inner span {
  margin: 0 5px;
  color: #217be0;
}
.pay_sec_inner i {
  font-size: 12px;
  border-radius: 100%;
  border: 1px solid #555555;
  color: #555555;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
}
.looalike_text {
  background: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  height: calc(2em + 1rem + 2px);
  color: #777;
}
.looalike_text select {
  border: 0;
  width: 45px;
}
.looalike_text span {
  width: 70%;
}
.looalike_text .form-control {
  width: 40px;
  float: right;
  border: 0;
  margin-top: -6px;
  background: none;
}
#radioBtn .notActive,
#radioBtn1 .notActive {
  color: #3276b1;
  background-color: #fff;
  border-color: #62d803;
}
#radioBtn .btn-primary:not(:disabled):not(.disabled).active,
#radioBtn1 .btn-primary:not(:disabled):not(.disabled).active {
  background: #62d803;
  border-color: #62d803;
}
.atm .row {
  margin: 0;
}
.form-group.text span {
  display: block;
  height: 38px;
  line-height: 38px;
}
.form-group.text {
  text-align: left;
}
.atm .icon_save {
  border-radius: 100%;
  background: #95ff61;
  color: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}
.yes-btn {
  display: inline-block;
  line-height: 30px;
  color: #fff;
  margin-left: 2px;
}
.no-btn {
  display: inline-block;
  line-height: 30px;
  color: #000;
  margin-left: 4px;
}
.display-company.dis-com-none {
  display: block;
}
.display-company {
  display: none;
}
.profile-content {
  position: relative;
}
.profile-right {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 300px;
}
.profile-mid {
  margin-right: 327px;
  width: 100%;
}
.profile-mid.no-profile-card {
  margin-right: 20px;
}
.profile-mid.have-auth-card {
  margin-right: 430px;
}
.very-btn {
  display: none;
}
.info-circle {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 10px;
  line-height: 22px;
  padding: 2px 7px;
}
[data-toggle="collapse"] .fa:before {
  content: "\f139";
}
[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}
.renter-persona-profile-accordion {
}
.renter-persona-profile-accordion .card {
  margin-bottom: 20px;
  padding: 0;
}
.renter-persona-profile-accordion .card-header {
  padding: 0;
  border: 0;
}
.renter-persona-profile-accordion .card-header .btn {
  text-align: left;
  font-size: 17px;
  color: #f28e1d;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}
.renter-persona-profile-accordion .card-header .btn.collapsed {
  color: #333;
  border-bottom: 1px solid transparent;
}
.renter-persona-profile-accordion .card-header .btn:hover,
.renter-persona-profile-accordion .card-header .btn:focus,
.renter-persona-profile-accordion .card-header .btn:active {
  color: #f28e1d;
  text-decoration: none;
}
.renter-persona-profile-accordion .card-header .btn.collapsed i {
  color: #999;
}
.renter-persona-profile-accordion .card-header .btn i {
  color: #f28e1d;
}
.renter-persona-profile-accordion .card-header i {
  float: right;
  font-size: 16px;
  margin-top: 6px;
}
.renter-persona-profile-accordion .card-body {
  padding: 15px 15px 5px;
  border: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: 500;
}
/*.form-group label{ text-transform: capitalize}*/
label span.info {
  float: right;
  color: #777;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-size: 11px;
}
.form-group {
  position: relative;
}
/*switch bytn*/
.notActive {
  color: #999;
  background-color: #fff;
}
.btn-sm {
  padding: 7px 15px;
}

.social-connect {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
  padding: 5px;
}
.social-connect .btns {
  position: absolute;
  top: 14px;
  right: 10px;
  z-index: 100;
}
.social-connect .btns .btn {
  padding: 4px 10px;
  min-height: 20px;
  opacity: 0;
  transition: all 0.1s;
}
.social-connect:hover .btns .btn {
  opacity: 1;
}
.social-connect .fa-check-circle {
  color: #5ea637;
}
.input-group-text {
  min-width: 40px !important;
}
.input-group-prepend .mdi {
  font-size: 22px;
}
.btn.btn-light.btn-sm.active {
  background: #999 !important;
  color: #fff !important;
  border-color: #5ea637 !important;
}
.btn.btn-light.btn-sm.notActive {
  background: #eee !important;
  color: #777 !important;
  border-color: #5ea637 !important;
}

.table-renter-doc-checklist {
  margin-bottom: 20px;
}
.table-renter-doc-checklist > tbody > tr:first-child > td {
  border: 0;
}
.table-renter-doc-checklist > tbody > tr:last-child > td {
  border-bottom: 1px solid #ddd;
}
.table-renter-doc-checklist > tbody > tr > td:last-child {
  width: 50px;
}
.fs-22 {
  font-size: 22px;
  padding-right: 10px;
}
.atm {
  background: transparent;
  background: #eee;
  border-radius: 5px;
  display: block;
  max-width: 500px;
  margin-bottom: 10px;
  position: relative;
  padding-top: 20px;
  border: 1px solid #ddd;
}
.atm .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
  padding: 3px 8px !important;
  min-height: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.atm .btn-primary {
  right: 44px;
}
.atm .looalike_text {
  height: auto;
  border: solid 1px #ddd;
}
.looalike_text .form-control {
  width: 50px;
  text-align: center;
}
.custom-file-label {
  min-height: 42px;
  border-color: #ddd;
  line-height: 30px;
}
.custom-file-input {
  min-height: 42px;
  line-height: 40px;
}
.custom-file-label:after {
  min-height: 40px;
  line-height: 30px;
}
.img-supported-doc {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  display: block;
  border: 2px solid #ddd;
  border-radius: 50%;
  padding: 1px;
}
.img-supported-doc.doc-uploaded {
  border-color: #5ea637;
}
.img-supported-doc .fa-image {
  font-size: 25px;
  margin-top: 4px;
  color: #ddd;
  border-radius: 50%;
}
.img-supported-doc img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.remove-document {
  position: absolute;
  left: 0;
  bottom: -4px;
  right: 0;
  top: 0;
  z-index: 100000;
}

#datepicker .ui-widget.ui-widget-content {
  border: 0;
  margin: 5px auto;
}
.box_body .mdi {
  font-size: 35px;
  color: #2189ff;
}
.box .box_body {
  padding: 1.88rem 1.81rem;
}
.no_data {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
  -ms-flex-item-align: center;
  align-self: center;
}
.no_data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.no_data .mdi {
  color: #159dd7;
  font-size: 90px;
}
#canvas-holder {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#example_filter {
  display: none;
}
.users-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.users-list > li {
  width: 25%;
  float: left;
  padding: 10px;
  text-align: center;
  display: grid;
}
.users-list-name {
  font-weight: 600;
  color: #444;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.users-list-date {
  color: #999;
  font-size: 12px;
  display: block;
}
.users-list > li img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.direct-chat-warning {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  width: 350px;
  height: 0;
}
.chat_lower {
  width: 350px;
}

.tab-content {
  color: #777;
  font-size: 14px;
}
ul.custom_tab {
  border: 0;
  background: #ccc;
  display: table;
  width: 100%;
  border-radius: 5px;
}
ul.custom_tab li {
  display: table-cell;
  width: 33.3333%;
}
ul.custom_tab li a.nav-link {
  border: 0;
  color: #fff;
  padding: 12px 10px;
  font-size: 16px;
}
ul.custom_tab li a.nav-link.active {
  background: #2189ff;
  color: #fff;
  border-radius: 5px;
}

.avatar-upload {
  position: relative;
  max-width: 100%;
  margin: 0;
}
.avatar-upload .avatar-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.avatar-upload:hover .avatar-edit {
  opacity: 1;
}
.avatar-upload .avatar-edit input + label {
  display: block;
  text-align: center;
  margin: 0;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  padding: 3px;
}
.avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  background: #ccc;
  margin: 0 auto;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-preview > div {
  background: url(../images/avatar.jpg) no-repeat;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* left menu theme style for Renter  */
.renter .sidebar_menu {
  background-image: linear-gradient(to bottom right, #822ad0, #4784f3);
}
.renter .sidebar_menu:before {
  border-bottom: 14px solid #822ad0;
}
.renter .fixed-bottom-menu ul.bottom_menu li a,
.renter .fixed-bottom-menu ul.bottom_menu li:first-child a,
.renter .sidebar_menu .top_menu li a {
  border-color: rgba(255, 255, 255, 0.07);
}
.renter .fixed-bottom-menu ul.bottom_menu li a:hover,
.renter .sidebar_menu li a:hover,
.renter .sidebar_menu li a.down,
body.minimize.renter .sidebar_menu li:hover > a {
  background-image: linear-gradient(to bottom right, #4784f3, #822ad0);
}
.renter .sub_menu {
  background: #217be0;
}
/* left menu theme style for ServicePro */
.servicepro .sidebar_menu {
  background-image: linear-gradient(to bottom right, #2189ff, #030aa9);
}
.servicepro .sidebar_menu:before {
  border-bottom: 14px solid #2189ff;
}
.servicepro .fixed-bottom-menu ul.bottom_menu li a,
.servicepro .fixed-bottom-menu ul.bottom_menu li:first-child a,
.servicepro .sidebar_menu .top_menu li a {
  border-color: rgba(255, 255, 255, 0.1);
}
.servicepro .fixed-bottom-menu ul.bottom_menu li a:hover,
.servicepro .sidebar_menu li a:hover,
.servicepro .sidebar_menu li a.down,
body.minimize.servicepro .sidebar_menu li:hover > a {
  background-image: linear-gradient(to bottom right, #030aa9, #2189ff);
}
.servicepro .sub_menu {
  background: transparent;
}

.custom-control-inline {
  margin-top: 7px;
}
.help-text {
  font-weight: 300;
  font-size: 13px;
}

.table > tbody > tr > td .switch {
  margin: 0 auto;
  display: block;
}
.table-acc-settings > tbody > tr > td {
  text-align: center;
}
.table-acc-settings > thead > tr > th {
  text-align: center;
  background: #f0f0f0;
}
.table-acc-settings > thead > tr > th:first-child {
  text-align: left;
  width: 40%;
}
.table-acc-settings > tbody > tr > th:first-child {
  text-align: left;
  vertical-align: middle;
}

.profile-auth-card {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: transparent;
  padding: 10px 20px 20px;
  background: url(../images/bg-profile-auth-card.png) top repeat-x #fff;
  border: 1px solid #4285f4;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
  min-height: 200px;
}

.w-200 {
  width: 200px;
}

.w-150 {
  width: 150px;
}

@media screen and (min-width: 1199px) {
  .mt-xl-26 {
    margin-top: 26px;
  }
}

/* subscription page */
/* tab */
ul.subscription-tab {
  border: 0;
  background: #ccc;
  display: table;
  width: 100%;
  border-radius: 5px;
}
ul.subscription-tab li {
  display: table-cell;
  width: 50%;
}
ul.subscription-tab li a.nav-link {
  border: 0;
  color: #fff;
  padding: 12px 10px;
  font-size: 16px;
}
ul.subscription-tab li a.nav-link.active {
  background: #2189ff;
  color: #fff;
  border-radius: 5px;
}

ul.subscription-tab2 {
  border: 0;
  background: #ccc;
  display: table;
  width: 100%;
  border-radius: 5px;
}
ul.subscription-tab2 li {
  display: table-cell;
  width: 25%;
}
ul.subscription-tab2 li a.nav-link {
  border: 0;
  color: #fff;
  padding: 12px 10px;
  font-size: 16px;
}
ul.subscription-tab2 li a.nav-link.active {
  background: #2189ff;
  color: #fff;
  border-radius: 5px;
}
/* switch */
.switch-monthly-annually {
  margin: 20px 0;
  line-height: 32px;
  font-weight: 500;
  font-size: 16px;
  color: #555;
}
.switch-monthly-annually .switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}
.switch-monthly-annually .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch-monthly-annually .slider:before {
  content: "";
}
.switch-monthly-annually input:checked + .slider {
  background-color: #ddd;
}
.switch-monthly-annually input:focus + .slider {
  box-shadow: none;
}
.switch-monthly-annually input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
  content: "";
  background: #f28e1d;
}
.switch-monthly-annually .slider.round {
  border-radius: 34px;
}
.switch-monthly-annually .slider.round:before {
  border-radius: 50%;
}

/* plan cards */
.plan-card {
  padding: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  min-height: 200px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
}
.plan-card.standard {
  border-color: #f28e1d;
  margin-top: 20px;
}
.plan-card.basic {
  border-color: #c0bbbc;
}
.plan-card.premium {
  border-color: #2189ff;
  margin-top: 20px;
}
.plan-card .current {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.plan-card .header {
  min-height: 100px;
  border-radius: 3px 3px 0 0;
  color: #fff;
  text-align: center;
}
.plan-card.standard .header {
  background: #f28e1d;
}
.plan-card.basic .header {
  background: #c0bbbc;
}
.plan-card.premium .header {
  background: #2189ff;
}

.plan-card .plan-name {
  padding: 20px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  font-size: 18px;
}
.plan-card .plan-name:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}
.plan-card .plan-price {
  font-size: 65px;
  font-weight: 300;
  line-height: 1;
  margin-top: 20px;
}
.plan-card .plan-price sup {
  font-size: 20px;
  font-weight: 400;
  top: -33px;
}
.plan-card .plan-frequency {
  padding-bottom: 20px;
  font-weight: 300;
}
.plan-card .btn {
  min-width: 170px;
}

.plan-card .body ul {
  padding: 15px;
  margin: 0;
}
.plan-card .body ul li {
  display: block;
  padding: 5px 0;
}
.plan-card .body ul li i {
  font-size: 12px;
  padding-right: 7px;
}
.plan-card .body ul li .info-circle i {
  padding-right: 0;
}

.plan-card.basic.renter .header {
  background: transparent;
  background-image: linear-gradient(to bottom right, #822ad0, #4784f3);
}
.plan-card.basic.servicepro .header {
  background: transparent;
  background-image: linear-gradient(to bottom right, #2189ff, #030aa9);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  margin: 0;
}
.dt-buttons {
  margin-left: 10px;
}
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #ddd;
}
.table-bordered th {
  border-top: 0;
  color: #000;
  background: #f0f0f0;
}

/* notofications */
.card-notofication-settings {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.card-notofication-settings img {
  margin-right: 15px;
  width: 65px !important;
  height: 65px !important;
}
.card-notofication-settings h4 {
  margin-bottom: 15px;
  font-weight: 400;
}
.card-notofication-settings .custom-control {
  display: inline-block;
  margin-right: 15px;
}
.card-notofication-settings .custom-control:last-child {
  margin-right: 0;
}
.card-notofication-settings .custom-control-label {
  margin-top: 1px;
  color: #555;
}

/*by token*/
.card-notofication-settings2 {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
}
.card-notofication-settings2 img {
  margin-right: 15px;
  width: 65px !important;
  height: 65px !important;
}
.card-notofication-settings2 h4 {
  margin-bottom: 5px;
  font-weight: 400;
}
.card-notofication-settings2 .label1 {
  color: #f28e1d;
  margin-bottom: 2px;
}
.card-notofication-settings2 .label2 {
  color: blue;
  margin-bottom: 2px;
}

.card-notofication-settings3 {
  margin-bottom: 20px;
}
.card-notofication-settings3 img {
  margin-right: 15px;
  width: 65px !important;
  height: 65px !important;
}
.card-notofication-settings3 h4 {
  margin-bottom: 15px;
  font-weight: 400;
}
.card-notofication-settings3 span {
  font-size: 14px;
  font-weight: 200;
}

/* ServicePro Task List 24-04-2019 by Anup*/
.servicePro-search-task {
}
.servicePro-search-task .dt_search {
  text-align: right;
}
.servicePro-search-task .dt_search .btn,
.servicePro-search-task .dt_search .form-control {
  display: inline-block;
}
.servicePro-search-task .btn-warning {
  margin-left: 10px;
  float: right;
}
.servicePro-search-task .dataTables_filter {
  display: inline-block;
}

/* TAB can be used in all other pages except profile page*/
ul.general-tab {
  border: 0;
  background: #ccc;
  border-radius: 5px;
}
ul.general-tab li {
}
ul.general-tab li a.nav-link {
  border: 0;
  color: #fff;
  padding: 10px 40px 9px;
  font-size: 16px;
}
ul.general-tab li a.nav-link.active {
  background: #2189ff;
  color: #fff;
  border-radius: 5px;
}

/* data-table card view */
.table-card {
  border: 0;
  margin: 0;
  border-collapse: separate !important;
  border-spacing: 0 15px !important;
}
.table-card > thead > tr {
  background: #ddf0ff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.table-card > thead > tr > th {
  padding: 15px 5px 15px 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #000 !important;
}
.table-card > thead > tr > th:first-child {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #ddd;
}
.table-card > thead > tr > th:last-child {
  border-radius: 4px 4px 0 0;
  border-right: 1px solid #ddd;
  width: 20px;
}
table.dataTable.no-footer,
.table-card > tfoot > tr > th {
  border: 0;
}
table.dataTable {
  margin: 0 !important;
}
.table-card > tbody > tr {
  border: 0;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #ccc;
}
.table-card > tbody > tr > td {
  border: 0;
  padding: 15px 5px 15px 10px;
  vertical-align: middle;
  color: #555;
}
.table-card > tbody > tr > td:first-child {
  border: 0;
  padding: 15px 5px 15px 10px;
  border-left: 4px solid transparent;
  border-radius: 4px 0 0 4px !important;
  font-weight: 500;
  color: #333;
}
.table-card > tbody > tr > td:last-child {
  padding: 2px 5px;
  border-radius: 0 4px 4px 0 !important;
}

.table-card > tbody > tr.normal > td:first-child {
  border-left: 4px solid #aaa;
}
.table-card > tbody > tr.low > td:first-child {
  border-left: 4px solid #ff8901;
}
.table-card > tbody > tr.high > td:first-child {
  border-left: 4px solid #c00;
}

.table-card > tbody > tr > td .dropdown {
  padding: 5px;
}
.table-card > tbody > tr > td .dropdown-toggle {
  padding: 6px 12px;
}
.table-card > tbody > tr > td .dropdown-toggle:after {
  display: none;
}

.badge {
  padding: 0.5em 1em;
  font-size: 80%;
}
.badge-low,
.badge-default,
.badge-light,
.badge-draft {
  background-color: #c3c2c1;
  color: #fff;
}
.badge-normal,
.badge-warning,
.badge-open {
  background-color: #ffb657;
  color: #fff;
}
.badge-info,
.badge-inprogress {
  background-color: #2dc4d6;
  color: #fff;
}
.badge-success,
.badge-completed {
  background-color: #67cc5d;
  color: #fff;
}
.badge-secondary,
.badge-archived {
  background-color: #afafaf;
  color: #fff;
}
.badge-primary,
.badge-pending {
  background-color: #2188ff;
  color: #fff;
}
.badge-danger,
.badge-high {
  background-color: #f76969;
  color: #fff;
}

/*radio button */
.radio-box {
  display: block;
  width: 100%;
}
.radio-box label {
  display: inline-block;
  margin-right: 20px;
}
.radio-box input[type="radio"] {
  display: none;
}
.radio-box .radio-item {
  height: 42px;
  padding: 0 25px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 1px solid #4584f1;
  border-radius: 5px;
  line-height: 40px;
}
.radio-box input[type="radio"]:checked + .radio-item {
  background-color: #4584f1;
}
.radio-box #radio111:checked + .radio-item {
  background-color: grey;
}
.radio-box #radio121:checked + .radio-item {
  background-color: #f28e1d;
}
.radio-box #radio131:checked + .radio-item {
  background-color: #c00;
}
.radio-box input[type="radio"]:checked + .radio-item span {
  color: white;
}

/*radio warning */
.radio-box .radio-item.radio-warning {
  border: 1px solid #fe8a00;
  color: #fe8a00;
}
.radio-box input[type="radio"]:checked + .radio-item.radio-warning {
  background-color: #fe8a00;
}
/*radio danger */
.radio-box .radio-item.radio-danger {
  border: 1px solid #c00;
  color: #c00;
}
.radio-box input[type="radio"]:checked + .radio-item.radio-danger {
  background-color: #c00;
}

/* step wizard */
.stepped-wizard {
  display: block;
  width: 100%;
}
.stepped-wizard ul {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  background: #bbb;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.stepped-wizard ul li {
  display: inline-block;
  float: left;
}
.stepped-wizard ul li a {
  color: #fff;
  padding: 12px 30px 12px 60px;
  background: #bbb;
  border-radius: 4px;
  line-height: 40px;
  position: relative;
  transition: all 0.2s;
}
.stepped-wizard ul li:first-child a {
  padding-left: 40px;
  background: #bbb;
  border-radius: 4px;
  line-height: 40px;
  position: relative;
  transition: all 0.2s;
}
.stepped-wizard ul li.active a {
  background: #2189ff;
}
.stepped-wizard ul li a:after {
  position: absolute;
  background: #bbb;
  content: "";
  height: 40px;
  width: 40px;
  top: 0;
  right: -20px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  z-index: 100;
  transform: rotate(45deg);
}
.stepped-wizard ul li.active a:after {
  background: #2189ff;
}

/* pictures upload */

.img-upload {
  position: relative;
  max-width: 100%;
  margin: 0;
}
.img-upload .img-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.img-upload:hover .img-edit {
  opacity: 1;
}
.img-upload .img-edit input + label {
  display: block;
  text-align: center;
  margin: 0;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  padding: 3px;
}
.img-upload .img-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 12%;
  background: #ccc;
  margin: 0 auto;
}
.img-upload .img-edit input {
  display: none;
}
.img-upload .img-preview > div {
  background: url(../images/img-24.jpg) no-repeat;
}
.img-upload .img-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 12%;
  background-size: cover;
  background-position: center;
}

.img-upload .img-preview > figcaption i {
  width: 20px;
  height: 20px;
  float: left;
  color: #fff;
  display: block;
  cursor: pointer;
  font-size: 10px;
  line-height: 19px;
  text-align: center;
  border-radius: 50%;
}
.img-upload .img-preview > figcaption .fa-times {
  float: right;
  background: #ef5350;
}
.img-upload .img-preview div:hover figcaption {
  opacity: 1;
  visibility: visible;
}

/* Video upload */

.video-upload {
  position: relative;
  max-width: 100%;
  margin: 0;
}
.video-upload .video-edit {
  position: absolute;
  top: 50%;
  left: 65%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
.video-upload:hover .video-edit {
  opacity: 2;
}
.video-upload .video-edit input + label {
  display: block;
  text-align: center;
  margin: 0;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  padding: 3px;
}
.video-upload .video-preview {
  width: 400px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  visibility: hidden;
}
.video-upload .video-edit input {
  display: none;
}
/*.video-upload .video-preview > video{width: 100%;height: 100%;}
.video-upload .video-preview > video {width: 100%;height: 100%;}*/

/* Landlord > properties */
.sidebar_menu li.active a {
  border-left: 4px solid #f28e1d;
  padding-left: 22px;
}
.sub-header {
  margin-bottom: 15px;
}
.sub-header h4 {
  font-weight: 400;
  margin: 0;
  line-height: 40px;
}

.property-card {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 25px 0 #bbb;
  -moz-box-shadow: 0 4px 25px 0 #bbb;
  box-shadow: 0 4px 25px 0 #bbb;
  margin-bottom: 30px;
}
.property-card .image-wrapper {
  height: 240px;
  overflow: hidden;
  border: 1px solid #bbb;
  transition: all 0.3s;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.property-card .image-wrapper img {
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.property-card .image-wrapper:hover {
  border-color: #2189ff;
  transform: translateY(-25px);
  -webkit-box-shadow: 0 3px 10px 2px #bbb;
  -moz-box-shadow: 0 3px 10px 2px #bbb;
  box-shadow: 0 3px 10px 2px #bbb;
}
.property-card-row1 i {
  margin-left: 6px;
  color: #999;
}
.property-card-row1 i:first-child {
  margin-left: 0;
}
.property-card-row1 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #333;
}
.property-card-row2 {
  margin-top: 10px;
  color: #000;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
}
.property-card-row2 .mdi {
  margin: 0 2px 0 5px;
  color: #555;
  font-size: 16px;
}
.property-card-row2 .dropdown-item i {
  padding-right: 5px;
}
.property-card h3 {
  font-weight: normal;
  margin: 0;
}
.property-card .dropdownIcon {
  padding: 0 5px;
}
.dropdown-item:hover {
  background: #eee;
}
.badge {
  border-radius: 3px;
}
.search-icon {
  position: relative;
}
.search-icon:after {
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  content: "\f236";
  font-family: "Font Awesome 5 Free";
  color: #999;
  font-size: 14px;
  z-index: 100;
}

.table-card > tbody > tr.occupied > td:first-child {
  border-left: 4px solid #7e21ff;
}
.table-card > tbody > tr.success > td:first-child {
  border-left: 4px solid #67cc5d;
}
.badge-purple,
.badge-occupied {
  background-color: #7e21ff;
  color: #fff;
}

/*Search 2 add listing page */
.site_search2 {
  width: 182px;
  position: relative;
  background-color: #fff;
}
.site_search2.form-inline {
  height: 40px;
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
}
.site_search2.form-inline input,
.site_search2.form-inline btn {
  border: 0 !important;
  box-shadow: none;
}
.site_search2.form-inline input {
  height: 38px;
  width: calc(100% - 42px);
  display: inline-block;
}

.site_search2 .form-control {
  border: 1px solid #ddd !important;
  height: 38px;
  background: #fff;
}
.site_search2 .form-control:focus {
  border-color: #f28e1d;
}
.site_search2 .btn {
  position: absolute;
  top: 0;
  right: 1px;
  border: 0;
  padding: 1px 7px !important;
  font-size: 20px;
  color: #777;
  background: #fff;
  height: 38px;
}
.site_search2 .btn:hover {
  color: #000;
}

/*Drop Images*/
/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.dropzone,
.dropzone * {
  box-sizing: border-box;
}

.dropzone {
  width: 100%;
  height: 150px;
  border: 1px solid #cacaca;
  border-radius: 7px;
  margin: 0px;
  /*border: 2px solid rgba(0, 0, 0, 0.3);*/
  background: white;
  padding: 15px 15px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dropzone.dz-drag-hover {
  border-style: solid;
}
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}
.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  min-height: 100px;
}
.dropzone .dz-preview:hover {
  z-index: 1000;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}
.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-image-preview {
  background: white;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}
.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}
.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}
.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}
.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}
.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}
.dropzone .dz-preview .dz-image img {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}
.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}
.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}
.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
.dropzone .dz-preview.dz-error .dz-error-message {
  display: none;
}
.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}
.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}
.dropzone .dz-preview .dz-error-message:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}

/*add property card */
div.polaroid {
  width: 110px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container1 {
  padding: 10px;
}

/* Select option background */

/*Check box for amenities */

input.largerCheckbox {
  width: 30px;
  height: 30px;
}
input.smallCheckbox {
  width: 20px;
  height: 20px;
}
label,
input {
  display: inline-block;
  vertical-align: middle;
}

/*Carousel with thumbnails*/
.outer {
  margin: 0 auto;
  max-width: 680px;
}
#big .item {
  padding: 15px 6px;
  margin: 2px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}
#thumbs .item {
  height: 130px;
  line-height: 70px;
  padding: 8px 10px;
  margin: 2px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#thumbs .item h1 {
  font-size: 18px;
}
/*#thumbs .current .item { background:#FF5722; }*/
.owl-theme .owl-nav [class*="owl-"] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*="owl-"].disabled:hover {
  background-color: #d6d6d6;
}
#big.owl-theme {
  position: relative;
}
#big.owl-theme .owl-next,
#big.owl-theme .owl-prev {
  width: 22px;
  line-height: 40px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  top: 50%;
}
#big.owl-theme .owl-prev {
  left: -26px;
}
#big.owl-theme .owl-next {
  right: -18px;
}

#thumbs.owl-theme {
  position: relative;
}
#thumbs.owl-theme .owl-next,
#thumbs.owl-theme .owl-prev {
  width: 22px;
  line-height: 40px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  top: 50%;
}
#thumbs.owl-theme .owl-prev {
  left: -28px;
}
#thumbs.owl-theme .owl-next {
  right: -1px;
}

.table-card2 {
  border: 0;
  margin: 0;
  border-collapse: separate !important;
  border-spacing: 0 15px !important;
}
.table-card2 > thead > tr {
  background: #ddf0ff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.table-card2 > thead > tr > th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #000 !important;
}
.table-card2 > thead > tr > th:first-child {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #ddd;
}
table.dataTable.no-footer,
.table-card2 > tfoot > tr > th {
  border: 0;
}
table.dataTable {
  margin: 0 !important;
}
.table-card2 > tbody > tr {
  border: 0;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #ccc;
}
.table-card2 > tbody > tr > td {
  border: 0;
  padding: 15px;
  vertical-align: middle;
  color: #555;
}
.table-card2 > tbody > tr > td:first-child {
  border: 0;
  padding: 15px;
  border-left: 4px solid transparent;
  border-radius: 4px 0 0 4px !important;
  font-weight: 400;
  color: #333;
}

.table-card2 > tbody > tr.normal > td:first-child {
  border-left: 4px solid #aaa;
}
.table-card2 > tbody > tr.low > td:first-child {
  border-left: 4px solid #ff8901;
}
.table-card2 > tbody > tr.high > td:first-child {
  border-left: 4px solid #c00;
}
.table-card2 > tbody > tr.occupied > td:first-child {
  border-left: 4px solid #7e21ff;
}
.table-card2 > tbody > tr.success > td:first-child {
  border-left: 4px solid #67cc5d;
}
.table-card2 > tbody > tr.aqua > td:first-child {
  border-left: 4px solid #2dc4d6;
}
.table-card2 > tbody > tr.purple > td:first-child {
  border-left: 4px solid #7e21ff;
}

.table-card2 > tbody > tr > td .dropdown {
  padding: 5px;
}
.table-card2 > tbody > tr > td .dropdown-toggle {
  padding: 6px 12px;
}
.table-card2 > tbody > tr > td .dropdown-toggle:after {
  display: none;
}

#profileimage {
  border-radius: 90%;
}

/* landlord option card */

.option-card {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 25px 0 #bbb;
  -moz-box-shadow: 0 4px 25px 0 #bbb;
  box-shadow: 0 4px 25px 0 #bbb;
  /*border: 2px #cfcfcf solid;
   display: inline-block;*/
}
.option-card :first-of-type {
  margin-left: 0;
}
.option-card :last-of-type {
  margin-right: 0;
}
.option-card:hover,
.option-card .choice {
  border: 2px #0079c1 solid;
}
.choice {
  border: 2px #0079c1 solid;
}

a.option-card :hover {
  text-decoration: none;
}

.table-card1 {
  border: 0;
  margin: 0;
  border-collapse: separate !important;
  border-spacing: 0 15px !important;
}
.table-card1 > thead > tr {
  background: #ddf0ff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.table-card1 > thead > tr > th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #000 !important;
}
.table-card1 > thead > tr > th:first-child {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #ddd;
}
.table-card1 > thead > tr > th:last-child {
  border-radius: 4px 4px 0 0;
  border-right: 1px solid #ddd;
  width: 20px;
}
table.dataTable.no-footer,
.table-card1 > tfoot > tr > th {
  border: 0;
}
table.dataTable {
  margin: 0 !important;
}
.table-card1 > tbody > tr {
  border: 0;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #ccc;
}
.table-card1 > tbody > tr > td {
  border: 0;
  padding: 15px;
  vertical-align: middle;
  color: #555;
}
.table-card1 > tbody > tr > td:first-child {
  border: 0;
  padding: 15px;
  border-left: 4px solid transparent;
  border-radius: 4px 0 0 4px !important;
  font-weight: 400;
  color: #333;
}

.table-card1 > tbody > tr > td:last-child {
  padding: 2px 5px;
  border-radius: 0 4px 4px 0 !important;
}

.table-card1 > tbody > tr.normal > td:first-child {
  border-left: 4px solid #aaa;
}
.table-card1 > tbody > tr.low > td:first-child {
  border-left: 4px solid #ff8901;
}
.table-card1 > tbody > tr.high > td:first-child {
  border-left: 4px solid #c00;
}
.table-card1 > tbody > tr.occupied > td:first-child {
  border-left: 4px solid #7e21ff;
}
.table-card1 > tbody > tr.success > td:first-child {
  border-left: 4px solid #67cc5d;
}
.table-card1 > tbody > tr.aqua > td:first-child {
  border-left: 4px solid #2dc4d6;
}
.table-card1 > tbody > tr.purple > td:first-child {
  border-left: 4px solid #7e21ff;
}

.table-card1 > tbody > tr > td .dropdown {
  padding: 5px;
}
.table-card1 > tbody > tr > td .dropdown-toggle {
  padding: 6px 12px;
}
.table-card1 > tbody > tr > td .dropdown-toggle:after {
  display: none;
}

/* amenities deactive active*/
.deactive {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.polaroid {
  width: 85px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}

.polaroid :first-of-type {
  margin-left: 0;
}
.polaroid:last-of-type {
  margin-right: 0;
}
.polaroid:hover,
.polaroid .choice {
  border: 2px #0079c1 solid;
}
.choice {
  border: 2px #0079c1 solid;
}

a.polaroid :hover {
  text-decoration: none;
}

.regular-checkbox {
  display: none;
}

#rcorners1 {
  border-radius: 15px;
  background: #d2d0d0;

  padding: 20px;
  width: 350px;
  height: 250px;
}

/* Dropdown background */
.specialColor {
  background-color: #d4c5c5;
}

/* dropdown arrow remove */
.dropdown-toggle:after {
  display: none;
}

.option-card1 {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 25px 0 #bbb;
  -moz-box-shadow: 0 4px 25px 0 #bbb;
  box-shadow: 0 4px 25px 0 #bbb;
  height: 170px;
  width: 170px;
  /*border: 2px #cfcfcf solid;
   display: inline-block;*/
}
.option-card1 :first-of-type {
  margin-left: 0;
}
.option-card1 :last-of-type {
  margin-right: 0;
}
.option-card1:hover,
.option-card1 .choice1 {
  border: 2px #0079c1 solid;
}
.choice1 {
  border: 2px #0079c1 solid;
}

a.option-card1 :hover {
  text-decoration: none;
}

/*Stripe less table*/
#stripeless table {
  background-color: transparent;
  border-style: none;
}
#stripeless tr:nth-child(odd) {
  background-color: transparent;
}

#stripeless > tbody > tr > td,
#stripeless > tbody > tr > th,
#stripeless > tfoot > tr > td,
#stripeless > tfoot > tr > th,
#stripeless > thead > tr > td,
#stripeless > thead > tr > th {
  border: none;
}

/*Stripe less 2 table*/
#stripeless2 table {
  background-color: rgba(0, 0, 0, 0.05);
  border-style: none;
}
#stripeless2 tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

#stripeless2 > tbody > tr > td,
#stripeless2 > tbody > tr > th,
#stripeless2 > tfoot > tr > td,
#stripeless2 > tfoot > tr > th,
#stripeless2 > thead > tr > td,
#stripeless2 > thead > tr > th {
  border: none;
}

/* public page footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #423c3c;
  color: #adadad;
}
.footer1 {
  height: 45px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #adadad;
}
/* public page footer end */

/* Modal center */
.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* .swal-modal {
  background-color: rgba(63,255,106,0.69);
 
} */

/* calendar */
/* #date {  z-index:0 !important;overflow-x: visible !important;
  overflow-y: hidden !important; } */
/* .datepicker td {
    height: 1em;
} */

.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -27px;
  position: relative;
  z-index: 2;
  color: black;
}
#dropdownMenu {
  background-color: white;
}

.togleDisabled {
  pointer-events: none;
  cursor: default;
}

.caption {
  text-align: center;
}

/* .swal-modal {
  background-color: rgba(63,255,106,0.69);
  border: 3px solid white;
} */
#galleryad {
  height: 520px;
  margin: 15px;
  background-color: #ecebeb;
  border-radius: 10px;
}

@media (min-width: 768px) {
  /* show 3 items */
  .carouselPrograms .carousel-inner .active,
  .carouselPrograms .carousel-inner .active + .carousel-item,
  .carouselPrograms .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carouselPrograms
    .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carouselPrograms
    .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carouselPrograms
    .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carouselPrograms .carousel-inner .carousel-item-next,
  .carouselPrograms .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carouselPrograms
    .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .carouselPrograms
    .active.carousel-item-left
    + .carousel-item-next.carousel-item-left,
  .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item,
  .carouselPrograms
    .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item,
  .carouselPrograms
    .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carouselPrograms .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .carouselPrograms
    .active.carousel-item-right
    + .carousel-item-prev.carousel-item-right,
  .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item,
  .carouselPrograms
    .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item,
  .carouselPrograms
    .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* -----------------------
    Tween slider 
--------------------------*/
.front-wrapper.innerS1 {
  margin-top: 100px;
}
#mac {
  background: url(../images/frontend/landing/bg-mac.png) center / cover
    no-repeat;
  width: 600px;
  height: 346px;
  z-index: 2;
  position: fixed;
  transform: translate(100%, -100px);
}
#mac:after {
  content: "";
  background: transparent url(../images/frontend/landing/slider/2a.png) left top /
    cover no-repeat;
  display: block;
  width: 474px;
  height: 304px;
  position: absolute;
  left: 63px;
  top: 15px;
  z-index: 1;
}
#tween-title {
  width: 100vw;
  height: 140px;
  left: 0 !important;
  padding-top: 20px;
  display: block;
  z-index: 2;
  overflow: hidden;
  position: fixed;
  text-align: center;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 35%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 35%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 35%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  animation: bounceIn 0.5s linear alternate;
  -webkit-animation: bounceIn 0.5s linear alternate;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
#tween-title h1 {
  font-size: 40px;
}
#tween-title p.lead2 {
  font-size: 0.9em;
  line-height: 1.2em;
}
/* Letters hidden by default */
/* .slide {
  opacity: 0;
  visibility: hidden;
} */
.txt {
  position: relative;
  left: 0;
  width: 39%;
  height: 100px;
  margin: 0 0 2% 0;
  padding: 1em 40px;
  color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.txt.active {
  background-color: #2289fd;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.txt h2 {
  font-size: 1.1em;
  line-height: 1.1em;
  font-weight: normal;
}
.txt p {
  font-size: 16px;
  line-height: 1.1em;
}
.txt.active h2,
.txt.active p {
  color: #fff;
}
.slide {
  width: 615px;
  right: -5px;
  height: 415px;
  top: -32px;
  margin: 0 auto;
  position: absolute;
  display: inline-block;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.slide.active {
  z-index: 11 !important;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* -----------------------
    //Tween slider 
--------------------------*/
