@media screen and (min-width: 1500px) {
  .logo-menu {
    width: 269px;
  }
}
@media screen and (min-width: 768px) {
  .content-wrapper,
  .main-footer {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 272px;
    margin-right: 2px;
    z-index: 3000;
  }
}

@media screen and (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .content-wrapper,
  .main-footer {
    transition: none;
  }
}

@media screen and (max-width: 1600px) {
  /* test */
}
@media screen and (max-width: 1499px) {
  .minimize .content-wrapper,
  .minimize .main-footer {
    margin-left: 102px;
  }
}

@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1199px) {
  .profile-auth-card {
    margin-bottom: 20px;
  }
  .servicePro-search-task {
    margin-top: 20px;
  }
  .servicePro-search-task .dt_search {
    text-align: center;
  }
  .servicePro-search-task .dataTables_filter {
    width: 80%;
    float: left;
  }
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
  .content-wrapper,
  .content-wrapper:before,
  .main-footer,
  .main-footer:before,
  .main-header,
  .main-header:before {
    margin-left: 0;
  }
  .col-fixed-300-lg {
    flex: 0 0 100%;
    padding: 0 15px;
    margin-top: 20px;
  }
  .col-fixed-300-lg .box {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 767px) {
  ul.general-tab li a.nav-link {
    padding: 10px 10px 9px;
  }
  .container-fluid.plr-5 {
    padding: 0 15px !important;
  }
  header {
    position: relative;
    margin-bottom: 20px;
  }
  header .list-inline {
    display: block;
    width: 100%;
  }
  header .nav-item.dropdown {
    display: inline-block;
  }
  .sidebar_menu {
    width: 250px;
    margin-left: 0;
    left: 1px;
    z-index: 500000;
    bottom: auto;
    position: absolute;
    height: auto;
  }
  .fixed-bottom-menu {
    position: relative;
    margin-top: 50px;
  }
  .sidebar_menu {
    margin-left: -255px;
    transition: margin-left 0.3s ease-in-out;
  }
  .sidebar_menu li a {
    padding-left: 21px;
  }
  .sidebar_menu li a em,
  .sidebar_menu li a i {
    display: inline-block;
  }
  .tab-pane .btn-outline-primary {
    margin-bottom: 20px;
  }
  .atm {
    margin: 0 auto 15px;
  }
  .delivery_support em {
    font-size: 18px;
  }
  .our_service .col-md-3 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  .all_ratting_sec .col-sm-4 + .col-sm-4 {
    margin: 0;
  }
  .our_service .col-sm-3 + .col-sm-3 {
    margin: 0;
  }
  .our_service .link {
    margin: 25px 0;
  }
  a.btn_green {
    font-size: 16px;
    padding: 0 22px;
  }
  .all_ratting_sec .col-sm-4 {
    display: inline-block;
    vertical-align: top;
    width: 32%;
  }
  .delivery_support > div.support,
  .delivery_support > div.delivery,
  .delivery_support > div.subject {
    width: 33.33%;
    margin: 0;
  }
  .ham_menu {
    margin-left: 8px;
  }
  .navbar-brand {
    margin: 0;
  }

  /*    new*/
  .content-wrapper > .content {
    padding: 0;
  }
  .col-fixed-250-md {
    flex: 0 0 100%;
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .main-footer {
    margin: 10px auto;
  }
  .hide-767 {
    display: none;
  }
  .user-menu .user-menu-link img {
    height: 30px;
    margin-top: 3px;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
  }
  .notification-menu {
    margin-right: 0;
  }
  .main-header {
    padding: 5px 10px;
  }
  .sidebar_menu:before {
    left: 19px;
  }
}

@media screen and (max-width: 640px) {
  .site_search.form-inline {
    width: 200px !important;
  }
  header nav.nav .list-inline li > a .mdi {
    font-size: 18px;
  }
  .dropdown-menu.notification.show {
    right: 16px !important;
  }
  .servicePro-search-task .dataTables_filter {
    width: 100%;
    float: none;
    margin-top: 20px;
  }
  .servicePro-search-task .btn-warning {
    float: none;
  }
  .table-card > tbody > tr > td,
  .table-card > thead > tr > th {
    display: block;
    width: 100%;
    text-align: center;
  }
  .table-card > tbody > tr.low > td:first-child {
    border-left: 0;
    border-top: 2px solid #ff8901;
  }
  .table-card > tbody > tr.high > td:first-child {
    border-left: 0;
    border-top: 2px solid #c00;
  }
  .table-card > tbody > tr.normal > td:first-child {
    border-left: 0;
    border-top: 2px solid #aaa;
  }
}

@media screen and (max-width: 575px) {
  .content-header {
    text-align: center;
  }
  .content-header h1 {
    display: inline-block;
  }
  .content-header .breadcrumb {
    float: none;
    text-align: center;
    display: block;
    margin: 10px 0 5px;
  }
  .content-header .breadcrumb .breadcrumb-item {
    float: none;
    text-align: center;
    display: inline-block;
  }
  .site_search .btn {
    padding: 0px 8px !important;
  }
  .srch_drop {
    left: -105px;
  }
  .srch_drop:before {
    left: 125px;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
}
