

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\f107"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  /*-webkit-transform: rotate(180deg);
  transform: rotate(180deg);*/
  font-size: 14px;
  padding: 2px 4px 1px;
  background-color: #f28e1e;
  border-radius: 50%;
  color: #fff;
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\f106";
  font-family: 'FontAwesome';
  font-size: 14px;
  padding: 2px 4px 1px;
  background-color: #f28e1e;
  border-radius: 50%;
  color: #fff;
  /*-webkit-transform: rotate(90deg);
  transform: rotate(90deg);*/
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}

.appointment{
    width: 100%;
    padding: 0 0; 
    background-color: #eceff4;
}
.appoin_heading{
    width: 100%;
}
.appoin_heading h4{
    color: #222;
    border-left: 4px solid #2089ff;
    padding: 0 0 0 10px;
    font-size: 18px;
}
.appoin_heading h5{
 color: #222;
 padding: 15px 0 0; 
 font-size: 14px;
}
.appoin_heading a{
    font-size: 14px;
    padding: 7px 20px;
    background-color: #f28e1e;
    color: #fff;
    border-radius: 5px;
}
.appoin_heading p{
    color: #222;
    font-size: 14px;
}

.date_view{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.p-no{
    padding: 0;
}

.panel-default>.panel-heading a i.fa{
    color: #f28e1e;
    font-size: 12px;
    padding-right: 5px;
}
.panel-default>.panel-heading a:hover{
    text-decoration: none;
}
.panel.panel-default{
    border:1px solid #dddd;
    border-radius: 5px;
    margin: 12px 0;
    padding: 0;
}
.panel-heading{
    background-color: #f7f7f7 !important;
}
.date_view h4.panel-title{
    margin: 0px;
}
.date_view .panel-body {
    padding: 15px;
   
}


.input-group-addon {
  cursor: pointer;
}

.form-control {
  border: 1px solid #ccc;
  box-shadow: none;
  &:hover, &:focus, &:active {
    box-shadow: none;
  }
  &:focus {
    border: 1px solid #34495e;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/*
.content {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
  padding: 30px 30px 20px;
}
*/
.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #dddd;
  border-radius: 0;
  box-shadow: none;
  margin: 1px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
  z-index: 9999;
  &.bottom:before,
  &.bottom:after {
    display: none;
  }
  table td,
  table th {
    border-radius: 0;
  }
  table td.old, table td.new {
    color: #bbb;
  }
  table td.today:before {
    border-bottom-color: #0095ff;
  }
  table td.active,
  table td.active:hover,
  table td span.active {
    background-color: #0095ff;
    text-shadow: none;
    
    &.today:before {
      border-bottom-color: #fff;
    }
  }
  table th {
    height: 25px;
    padding: 0;
    width: 40px;
    &.picker-switch {
      width: auto;
    }
  }
  table tr:first-of-type th {
    border-bottom: 1px solid #34495e;
  }
  table td.day {
    height: 32px;
    line-height: 32px;
    padding: 0;
    width: auto;
  }
  table td span {
    border-radius: 0;
    height: 20px;
    line-height: 77px;
    margin: 0;
    width: 25%;
  }
  .datepicker-months tbody tr td,
  .datepicker-years tbody tr td,
  .datepicker-decades tbody tr td {
    padding: 0;
  }

  .datepicker-decades tbody tr td {
    height: 15px;
    line-height: 27px;

    span {
      display: block;
      float: left;
      width: 50%;
      height: 46px;
      line-height: 46px !important;
      padding: 0;
      &:not(.decade) {
        display: none;
      }
    }
  }
  .timepicker-picker table td {
    padding: 0;
    width: 30%;
    height: 20px;
    line-height: 20px;
    &:nth-child(2) {
      width: 10%;
    }
    a,
    span,
    button {
      border: none;
      border-radius: 0;
      height: 25px;
      line-height: 56px;
      padding: 0;
      width: 100%;
    }
    span {
      color: #333;
      margin-top: -1px;
    }
    button {
      background-color: #fff;
      color: #333;
      font-weight: bold;
      font-size: 1.2em;
      &:hover {
        background-color: #eee;
      }
    }
  }
}
.time span.input-group-text {
    padding: 9px 14px;
    border-radius: 5px 0px 0px 5px !important;
    background-color: #fff;
}
.time span.input-group-append.input-group-addon {
    position: absolute;
    padding: 0px;
    z-index: 9;
}
.time input.form-control{
    background-color: #eceff4;
    border-radius: 0px 5px 5px 0px !important;
        padding-left: 54px;
    color: #333;
}
.time input.form-control::placeholder{
    color: #333;
}
.location h4{
    font-size: 14px;
    color: #333;
    font-weight: 500;
    padding: 7px 0 0;
}
.location h4 i.fa{
    padding-right: 10px;
    font-size: 16px;
    color: #666;
}
.message div{
    display: inline-block;
} 
.message div img{
    width: 55px;
    height: auto;
    border-radius: 50%;
}
.message div h4{
    padding: 0 20px;
}
.message div i.fa{
        color: #ffffff;
    padding: 5px 5px 6px 6px;
    background-color: #2289fd;
    border-radius: 50%;
    border: 1px solid #2289fd;
    font-size: 14px;

}
.message{
    padding: 20px 0;
}
.all_sec_time{
    display: flex;
}
.message div.active{
    position: relative;
}
.message div.active::after{
    font-family: 'FontAwesome';
    content: "\f00c";
    position: absolute;
    bottom: -4px;
    right: 0;
    background-color: #f28e1e;
    color: #fff;
    padding: 0px 3px 0px 5px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: 100;
}   
.phone h4{
    padding-top: 30px;
}
.phone h4 i.fa{
    font-size: 20px;
}
.message_btn button{
    font-size: 14px;
    padding: 8px 15px;
    display: block;
    border:1px solid #fff;
    border-radius: 5px;
    width: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
}
.message_btn button.Accept
{
    background-color: #227be1;
    color: #fff;
    border-color: #227be1;
}
.message_btn button.Accept:hover
{
    background-color: #fff;
    color: #227be1;
    border-color: #227be1;
    transition: all 0.5s ease;
}
.message_btn button.Reschedule
{
    background-color: #fff;
    color: #227be1;
    border-color: #227be1;
}
.message_btn button.Reschedule:hover
{
    transition: all 0.5s ease;
    background-color: #227be1;
    color: #fff;
    border-color: #227be1;
}
.message_btn button.Cancel
{
    background-color: #f28e1e;
    color: #fff;
    border-color: #f28e1e;
}
.message_btn button.Cancel:hover
{
    background-color: #fff;
    color: #f28e1e;
    border-color: #f28e1e;
    transition: all 0.5s ease;
}
.footer_time_shodule{
    padding: 30px 0 10px;
}
.footer_time_shodule .time input.form-control {
    background-color: #fff;
    }
.footer_time_shodule .time span.input-group-text{
        background-color: #eceff4;
    }
a.collapsed.active i.fa{
    color: green;
}
a.Reschedule_tab .Reschedule{
    font-size: 14px;
    width: 100px;
    padding: 8px 15px;
    border: none;
    background-color: #227be1;
    border-radius: 5px;
    color: #fff;
    margin-left: 36%;
}
a.Reschedule_tab {
    padding: 4px 15px !important;
}
.panel-default>.panel-heading a.Reschedule_tab:after{
    top: 9px;
}
a.Reschedule_tab .Reschedule.Cancel{
    background-color: #f28e1e;
}



/*----------------application_sect------------*/

.application_sect{
    width: 75%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.application .title_desh{
    color: #227be1;
}

.application_sect ul{
    position: relative;

}
.application_sect ul::after{
    content: "";
    width: 4px;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 50%;
}
.application_sect ul li{
    width: 50%;
    padding-right: 15px;
    position: relative;
    margin: 0;
}
.application_sect ul li:nth-child(even){
    width: 50%;
    margin-left: 50%;
    padding-left: 19px;
    text-align: left;
    padding-right: 0;
}
.application_sect>ul>li>div {padding: 5px 0;display: block;}
.application_sect>ul>li>div>div {

display: inline-block;

vertical-align: top;

padding: 0 6px;
}
.application_sect ul li div h4{
margin: 0;
font-size: 15px;
}
.application_sect ul li div img{
    width: 60px;
    border-radius: 50%;
}
.application_sect ul li div h5{

font-size: 13px;

font-weight: 400;

margin: 0;

color: #2289fd;

padding-top: 10px;
}
.application_sect ul li div a{

font-size: 13px;
font-weight: 400;
margin: 0;
color: #2289fd;
padding: 0px;
}

.application_sect ul li div p{

font-size: 12px;

margin: 0;
}

section.application ul li:before{
    display: none;
}
.application_sect ul li.active:nth-child(even):after{
    content: '';
    font-family: 'FontAwesome';
    width: 4px;
    height: 100%;
    background-color:  #2289fd;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

section.application ul li.active:nth-child(even):before{
    content: "\f111";
    font-family: 'FontAwesome';
    font-size: 22px;
    color: #2289fd;
    position: absolute;
    top: 0;
    left: -7px;
    display: inline-block;

}

.application_sect ul li.active:nth-child(odd):after{
    content: '';
    font-family: 'FontAwesome';
    width: 4px;
    height: 100%;
    background-color:  #2289fd;
    position: absolute;
    right: -4px;
    top: 0;
    z-index: 9;
}

section.application ul li.active:nth-child(odd):before{
    content: "\f111";
    font-family: 'FontAwesome';
    font-size: 22px;
    color: #2289fd;
    position: absolute;
    top: -6px;
    right: -11px;
    display: inline-block;
    text-align: left;
    left: auto;
}

.application_sect ul li.active:nth-child(odd) div h4{
    text-align: right;
}
.application_sect>ul>li:nth-child(odd) div p{
    text-align: right;

}
.application_sect>ul>li:nth-child(odd) div h4{
    text-align: right;

}

.application_sect>ul>li>div>div.active{
    position: relative;

}

.application_sect>ul>li>div>div.active:after{
    font-family: 'FontAwesome';
    content: "\f00c";
    position: absolute;
    bottom: 1px;
    right: 0;
    background-color: #f28e1e;
    color: #fff;
    padding: 0px 3px 0px 5px;
    font-size: 8px;
    border-radius: 50%;
    font-weight: 100;
    line-height: 2;

}
a:hover{
    text-decoration: none;
}


/*------------------------apply-recent--------------*/
.apply .application_sect{
    width: 100%;
}
.apply .apply_cnt{
    width: 100%;
    padding: 15px;
    background-color: #fff;
    display: inline-block;
}

.apply .application_sect ul li{
    min-height: 80px;
}

.apply .application_sect ul li div h4{
    color: #777;
    font-weight: 400;
}
.apply .application_sect ul li.active div h4{
    color: #333;
}
.apply_cnt h3{
    font-weight: 100;
    font-size: 22px;
}
.apply_cnt div h5{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    padding-right: 20px;
}
.apply_cnt div.no_off{
    padding: 15px 0;
}
.apply_cnt div h5 i.fa{
    font-size: 16px;
    color: #777;
    padding-left: 10px;
}

.ques {
    color: darkslateblue;
}
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 25px;
}

.switch input {display:none;}

.apply .slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f28e1d;
  -webkit-transition: .4s;
  transition: .4s;
}

.apply .slider:before {
  position: absolute;
  z-index: 2;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  -webkit-transition: .4s;
  transition: all 0.4s ease-in-out;
}
.apply .slider:after {
  position: absolute;
  left: 0;
  z-index: 1;
  content: "YES";
  font-size: 15px;
  text-align: left !important;
  line-height: 26px;
  padding-left: 0;
  width: 65px;
  color: #fff;
  height: 25px;
  border-radius: 100px;
  background-color: #2289fd;
  -webkit-transform: translateX(-160px);
  -ms-transform: translateX(-160px);
  transform: translateX(-160px);
  transition: all 0.4s ease-in-out;
}

input:checked + .slider:after {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  /*width: 235px;*/
  padding-left: 9px;
}

input:checked + .slider:before {
  background-color: #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(160px);
  -ms-transform: translateX(160px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 100px;
}

.slider.round:before {
  border-radius: 50%;
}
.absolute-no {
    position: absolute;
    left: 0;
    color: white;
    text-align: right !important;
    font-size: 15px;
    width: calc(100% - 16px);
    height: 25px;
    line-height: 24px;
    cursor: pointer;
}
.Lookup_from .form-group input{
    font-size: 13px;
    border:1px solid #ddd;
}
.Lookup_from .form-group button{

font-size: 13px;

width: 100%;

padding: 6px;

border: 1px solid;
cursor: pointer;
background-color: transparent;
transition: all 0.5s ease-in-out; 
border-radius: 5px;
}
.Lookup_from .form-group button.btn_lookup{
    color: #fc6318;
    border-color: #fc6318;
}
.Lookup_from .form-group button.btn_add{
     color: #2289fd;
     border-color: #2289fd;
}
.Lookup_from .form-group button.btn_lookup:hover{
    color: #fff;
    background-color: #fc6318;
    transition: all 0.5s ease-in-out; 
}
.Lookup_from .form-group button.btn_add:hover{
     color: #fff;
     background-color: #2289fd;
     transition: all 0.5s ease-in-out; 
}
.Profile_have{
    font-size: 13px;
    margin: 0;
    color: #2289fd;
}
.Profile_no{
    font-size: 13px;
    margin: 0;
    color: #ee6577;
}
.Profile_have i.fa{
    padding-right: 10px;
}
.Profile_no i.fa{
    padding-right: 10px;
}
.months_from{
    padding: 0 15px;
}
.months_from p{
    font-size: 11px;
    color: #333;
    margin: 0 0 5px;
}
.months_from p i.fa{
    float: right;
    padding: 2px;
    border:1px solid #ddd;
    border-radius: 50%;
}
.months_from .time input.form-control {
    background-color: #ffffff;
    padding: 7px 7px 8px 48px;
}
.review_dec h4{
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
}
.mess_info{
    width: 100%;
    padding: 15px;
    border:1px solid #dadada;
    border-radius: 5px;
}
.mess_info p{
    font-size: 15px;
    color: #777;
    margin: 0;

}
.mess_check{
    width: 100%;
    padding: 0 0 0 30px;
    position: relative;
    margin: 8px 0;
}
.mess_check input{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #fff;
    border:1px solid #ddd;
}
.mess_check p{
    font-size: 14px;
    color: #333;
    margin: 0;
}
.mess_check p a
{
    color: #4684f3;
}
.checkout_dwn{
    padding: 15px 0;
    text-align: center;
}
.checkout_dwn a:first-child{
    font-size: 14px;
    color: #fff;
    background-color: #4684f3;
    padding: 10px 25px;
    border-radius: 5px;
} 
.checkout_dwn a:last-child{
    font-size: 13px;
    padding: 4px 10px;
    color: #fff;
    background-color: #999;
    border-radius: 5px;
}
#Bookink_review .modal-dialog{
    max-width: 580px !important;
}
.booking_model h4{
    font-size: 18px;
    font-weight: 400;
}
.booking_model .modal-header{
        padding: 8px 16px;
    border-bottom: 1px solid #ddd;  
}
.book_info h3{
    font-weight: 300;
    font-size: 20px;
    color: #333;
    margin: 0px 0 15px;
}
.book_info h5{
    font-size: 15px;
    font-weight: 600;
    color: #222;
    margin: 0;
}
.book_info p{
    font-size: 13px;
    color: #444;
}
.book_ava_day{
    width: 100%;
    padding: 7px 0px;
} 
.book_ava_day ul li{
    display: inline-block;
    padding: 0 1px;
} 
.book_ava_day ul li div{

}
.book_ava_day ul li div h5{
    
font-size: 14px;
    
margin: 0 0 3px;
    
text-align: center;
}
.book_ava_day ul li div a{
    
border: 1px solid #2289fd;
    
padding: 3px 7px;
    
border-radius: 4px;
    
font-size: 13px;
    
display: block;
    
text-align: center;
    
line-height: 17px;
}
.book_ava_day ul li div a.active{
    background-color: #2289fd;
    color: #fff;
}
.book_ava_day ul li div a span{
    
display: block;
    
color: #333;
}
.book_ava_day ul li div a.active{
    background-color: #2289fd;
    color: #fff;
}
.book_ava_day ul li div a.active span{
    color: #fff;
}
.book_ava_day ul button{
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    border:none;
    margin: 10px 10px 0;
    background-color: #ffff;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    outline: none;
}
.book_ava_day ul button:hover{
    color: #2289fd;
}
.book_ava_day ul{
    padding: 0;
    margin: 0;

}
.book_ava_time ul li{
    width: 29%;
    margin: 2px 0;
}
.book_ava_time h5{
      font-size: 15px;
    font-weight: 600;
    color: #222;
    margin: 0;
}
.book_ava_time ul{
    position: relative;
    text-align: center;
}
.book_ava_time ul button.left{
    position: absolute;
    top: -1px;
    left: -2px;
}
.book_ava_time ul button.right{
    position: absolute;
    top: -1px;
    right: 0;
}
.book_ava_time ul li.active a{
    background-color: #2289fd;
    color: #fff;
}
.book_ava_time p{
    padding: 15px 0 0;
    margin: 0;
    font-size: 13px;
    color: #e45754;
}
.booking_model .btn-default{
    background-color: #f28e1d;
    color: #fff;
}