.notify {
  .notify_settings {
    background: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    img {
      margin-right: 15px;
      max-width: 65px !important;
      max-height: 65px !important;
    }
    .details {
      h4 {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}
