
// Dashboard Styles

.home_ {
    height: 100%;
    background-color: #ecf0f5;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    .welcome {
      h2 {
        font-size: 24px;
        margin: 0 auto 15px;
        line-height: 28px;
        color: #555;
        font-weight: 300;
        strong {
          font-weight: 700;
        }
      }
      p {
        color: #000;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
    .card {
      position: relative;
      border-radius: 5px;
      background: #fff;
      margin-bottom: 20px;
      width: 100%;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
      .info {
        flex: 1 1;
        padding: 0 10px;
        align-self: center;
        h4 {
          font-size: 16px;
          margin: 0;
          color: #555;
          font-weight: 400;
          color: #000;
        }
        p {
          font-size: 26px;
          font-weight: 500;
          margin: 0;
          color: #000;
        }
      }
      .widget-small {
        display: flex;
        border-radius: 4px;
        color: #fff;
        .icon {
          display: flex;
          min-width: 85px;
          min-height: 83px;
          align-items: center;
          justify-content: center;
          background-color: #f5a449;
          border-radius: 4px 0 0 4px;
          font-size: 43px;
        }
      }
    }
    .box {
      position: relative;
      border-radius: 5px;
      background: #fff;
      margin-bottom: 20px;
      width: 100%;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
      padding: 15px;
      h3.box-title {
        display: inline-block;
        font-size: 18px;
        margin: 0;
        line-height: 1;
        font-weight: 500;
      }
      .table_head {
        width: 100%;
      }
    }
    .users-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        width: 25%;
        float: left;
        padding: 10px;
        text-align: center;
        display: grid;
        img {
          border-radius: 50%;
          max-width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }
    }
    .users-list-name {
      font-weight: 600;
      color: #444;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .users-list-date {
      color: #999;
      font-size: 12px;
      display: block;
    }
    .no_data .mdi {
      color: #159dd7;
      font-size: 90px;
    }
  }
  