body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  background: #ecf0f5 !important;
  font-size: 14px !important;
  overflow-x: hidden;
}
.cardbody__Padd {
  padding: 0;
  h4 {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
  }
  .listing {
    border-top: 1px solid #dee2e6;
    padding: 10px 20px;
  }
}
.flex__div {
  display: flex;
}
.select__global {
  height: auto;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 9px 12px 10px;
  border-radius: 4px;
  font-size: 14px;
}
.border__radius--zero {
  border-radius: 0 !important;
}
.border-radius__l {
  border-radius: 4px 0 0 4px;
}

.all__errors {
  text-align: left;
  color: red;
}

.print__download {
  margin-bottom: 10px;
  button {
    padding: 8px 18px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #f28e1d;
    margin-left: 5px;
    background: #f28e1d!important;
    color: #fff;
    font-size: 14px;
    &:last-child {
      background: #666!important;
      border: 1px solid #666;
    }
  }
}


.error__field_show {
  border: 2px solid red !important;
}

.ant-drawer-header {
  .ant-drawer-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
  }
}
.tab__select {
  font-size: 14px;
  height: 40px;
  border: 1px solid #ddd;
}
.tab__input {
  font-size: 14px;
  height: 40px;
  border: 1px solid #ddd;
}
.img-supported-doc {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  display: block;
  border: 2px solid #ddd;
  border-radius: 50%;
  padding: 1px;
}

.card__title {
  font-size: 17px;
  // color: #f28e1d;
}
.flex__browse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn__gap {
  margin-bottom: 10px;
}
.browse__input {
  border: 1px solid #ddd;
  height: 40px;
  border-radius: 4px;
  position: relative;
  width: calc(150px - 50px);
  display: inline-block;
  cursor: pointer;
  &::after {
    content: "Browse";
    height: 38px;
    background: #e9ecef;
    position: absolute;
    right: 0;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
}
.date__flex {
  display: flex;
  .input-group-text {
    background: none !important;
    border-radius: 4px 0 0 4px !important;
  }
  .datePicker {
    width: 100%;
    .input-group-text {
      background: #fff;
      border-radius: 4px 0 0 4px;
      border: 1px solid #ddd;
    }
    .tab__deatils--input {
      border-radius: 0 4px 4px 0;
    }
  }
}

.details__icons {
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
  vertical-align: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #999;
  i {
    &::before {
      font-weight: 600;
      color: #fff;
      font-size: 16px;
    }
  }
  .active {
    background: #f28e1d !important;
  }
}



.save__cancel--btn {
  display: flex;
  margin-top: 35px;
  .form-group {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  .save__btn {
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #2189ff;
    background: #2189ff;
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-right: 5px;
  }
  .cancel__btn {
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #666;
    margin-left: 5px;
    background: #666;
    color: #fff;
    font-size: 14px;
    width: 100%;
  }
}
}

.input-group-text {
  background: none !important;
}
.labels__global {
  margin-bottom: 5px;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}
.form__group--global {
  margin-bottom: 7px !important;
}
.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  font-weight: 500;
}
.btns__success {
  font-size: 14px !important;
  padding: 9px 0 !important;
}
.btns__warning {
  font-size: 14px !important;
  padding: 9px 0 !important;
  &:hover {
    color: #fff;
  }
}
.btns__danger {
  font-size: 14px !important;
  padding: 9px 0 !important;
}
.th__width {
  width: 40%;
}
.privacy_setting {
  .table_wrap {
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0;
    table {
      margin-bottom: 0 !important;
    }
    th {
      background: #f0f0f0 !important;
      font-size: 14px;
      vertical-align: middle !important;
      
    }
    td {
      padding: 5px 0.75rem !important;
    }
    .switch {
      margin: 5px 0 0 0 !important;
    }
  }
}

.subs__tabs {
  .react-tabs__tab-list {
    li {
      width: 50% !important;
    }
  }
}
.charact__tabs {
  .react-tabs__tab-list {
    li {
      width: 25% !important;
    }
  }
}

.monthly__annually--toggle {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: #555;
  .toggle__btn--space {
    margin: 0 10px;
  }
  .react-switch-bg {
    // height: 34px !important;
    // width: 80px !important;
    // border-radius: 45px !important;
    background: #ddd !important;
  }
  .react-switch-handle {
    // width: 24px !important;
    // height: 24px !important;
    // transform: translateX(47px);
    background: #f28e1d !important;
  }
  svg {
    display: none;
  }
}

.sup__tag {
  font-size: 20px;
  top: -30px !important;
}
.btn__plan {
  padding: 8px 0 !important;
  font-size: 14px;
}
.notify {
  margin-bottom: -20px;
}

.blue__box {
  border: 1px solid #4285f4;
  border-radius: 5px;
  padding-bottom: 20px;
  .verify_img {
    background: #4285f4;
  }
  h4 {
    font-size: 18px;
    color: #333;
  }
}
.lr__gap {
  padding: 0 20px;
}
.w60 {
  width: 60% !important;
}

.accrediations__form {
  .btns__blue {
    color: #fff;
    background-color: #217be0;
    border-color: #217be0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: all .2s;
    border-radius: 5px;
    padding: 9px 15px 10px;
    width: 100%;
    font-size: 14px;
    &:hover {
      color: #fff;
    }
  }
  .tab__deatils--label {
    margin-bottom: 3px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
  }
  .tab__deatils--input {
    height: auto;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: none;
    padding: 9px 12px 10px;
    border-radius: 4px;
    line-height: normal;
  }
  select {
    height: auto;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: none;
    padding: 10px 7px 10px 7px;
    border-radius: 4px;
    font-size: 14px;
    line-height: normal;
  }
  .datePicker {
    input {
      height: auto;
      width: 100%;
      border: 1px solid #ddd;
      box-shadow: none;
      padding: 10px 7px 10px 7px;
      border-radius: 4px;
      font-size: 14px;
      margin-top: 18px;
    }
  }
}

.input_icon {
  padding: 3px 9px;
  .mdi{
    font-size: 22px;
  }
}
.toggle_icon{
  .mdi{
    padding: 0 5px 0 0;
    font-size: 22px;
  }
}
.notify_home{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
     li{
       color: #999;
       .fa-eye{
         color: #36a2eb;
         padding: 0 0 0 10px;
       }
       .fa-trash-alt{
         color: #ff3737;
         padding: 0 0 0 10px;
       }
     }
  }
  .view{
    color: #217be0 !important;
    &:hover{
      font-weight: bold !important;
      transition: 9s;
    }
  }
}




@media screen and (max-width:768px) {
  .profile__menu--details {
    .profile__details--left {
      width: 100%;
    }
  }
}

@media screen and (max-width:767px) {
  .profile__menu--listing {
    width: 100%;
  }
  .profile__menu--details {
    margin-left: 0;
    width: 100%;
    margin-top: 25px;
  }
}

// RESPONSIVE
@media screen and (max-width:812px) {
  .profile__menu--details{
    width: 100%;
    margin: 20px 0 0 0;
  }
}
@media screen and (max-width:768px) {
  .profile__menu--details{
    width: 100%;
    margin: 20px 0 0 0;
  }
  .profile__details--right{
    width: 100% !important;
    margin: 20px 0 0 0 !important;
  }
}